mixin component-sample-list(content)
	.row
		.col-xs-12
			.panel.panel-default
				.panel-body
					h1.nomargin ${{ sample-list.lists }}$

		.col-sm-6.col-xs-12
			.panel.panel-default
				.panel-body
					h3 Unordered List
					ul
						li Lorem ipsum dolor sit amet
						li Consectetur adipiscing elit
						li Integer molestie lorem at massa
						li Facilisis in pretium nisl aliquet
						li Nulla volutpat aliquam velit 
							ul
								li Phasellus iaculis neque
								li Purus sodales ultricies
								li Vestibulum laoreet porttitor sem
								li Ac tristique libero volutpat at
						li Faucibus porta lacus fringilla vel
						li Aenean sit amet erat nunc
						li Eget porttitor lorem

			.panel.panel-default
				.panel-body
					h3 Ordenered List	
					ol
						li Lorem ipsum dolor sit amet
						li Consectetur adipiscing elit
						li Integer molestie lorem at massa
						li Facilisis in pretium nisl aliquet
						li Nulla volutpat aliquam velit 
							ol
								li Phasellus iaculis neque
								li Purus sodales ultricies
								li Vestibulum laoreet porttitor sem
								li Ac tristique libero volutpat at
						li Faucibus porta lacus fringilla vel
						li Aenean sit amet erat nunc
						li Eget porttitor lorem

			.panel.panel-default
				.panel-body
					h3 Horizontal Definition List
					dl(class="dl-horizontal")
						dt Description lists
						dd A description list is perfect for defining terms.
						dt Euismod
						dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
						dd Donec id elit non mi porta gravida at eget metus.
						dt Malesuada porta
						dd Etiam porta sem malesuada magna mollis euismod.

		.col-sm-6.col-xs-12
			.panel.panel-default
				.panel-body
					h3 List Unstyled
					ul(class="list-unstyled")
							li Lorem ipsum dolor sit amet
							li Consectetur adipiscing elit
							li Integer molestie lorem at massa
							li Facilisis in pretium nisl aliquet
							li Nulla volutpat aliquam velit 
								ul
									li Phasellus iaculis neque
									li Purus sodales ultricies
									li Vestibulum laoreet porttitor sem
									li Ac tristique libero volutpat at
							li Faucibus porta lacus fringilla vel
							li Aenean sit amet erat nunc
							li Eget porttitor lorem

		.col-sm-6.col-xs-12
			.panel.panel-default
				.panel-body
					h3 List Inline
					ul(class="list-inline")
						li Lorem ipsum
						li Lorem ipsum
						li Lorem ipsum
				
		.col-sm-6.col-xs-12
			.panel.panel-default
				.panel-body
					h3 Definition List Standar
					dl 
						dt Description lists
						dd A description list is perfect for defining terms.
						dt Euismod
						dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
						dd Donec id elit non mi porta gravida at eget metus.
						dt Malesuada porta
						dd Etiam porta sem malesuada magna mollis euismod.	
				