extends ../templates/component
block vars
	- var componentName = 'component-sample'
	- var showTitle = 'true'
	- var full = 'true'

block component-title
	| Sample Table Component

block component-content

	table(class="table table-bordered mb0")
		thead
			tr
				th #
				th First Name
				th Last Name
				th Username
		tbody
			tr
				th(scope="row") 1
				td Mark
				td Otto
				td @mdo

			tr
				th(scope="row") 2
				td Mark
				td Otto
				td @mdo

			tr
				th(scope="row") 3
				td Mark
				td Otto
				td @mdo