

nav(class="navigation",role="navigation")
	ul
		li
			a(href="#",title="") 
				span(class="sr-only") Ir a la pagina
				| Home
				
		li
			a(href="#",title="") 
				span(class="sr-only") Ir a la pagina
				| Home

		li
			a(href="#",title="") 
				span(class="sr-only") Ir a la pagina
				| Home

		li
			a(href="#",title="") 
				span(class="sr-only") Ir a la pagina
				| Home				