mixin component-data-definitions(content)
	div
		h1 Data Definitions

		p Sunnie permite automatizar y dinamizar la carga de datos y la generación de ciertas estructuras de datos mediante data attributes.

		h2 Data Loading

		h2 Pagination

		h2 Search

		h2 Filters
