/*FLOAT*/
.fl{float:left !important;}
.fr{float:right !important;}
.fn{float:none !important;}


/*MARGIN*/
.mr95perc{margin-right:95% !important}
.mr90perc{margin-right:90% !important}
.mr85perc{margin-right:85% !important}
.mr80perc{margin-right:80% !important}
.mr75perc{margin-right:75% !important}
.mr70perc{margin-right:70% !important}
.mr65perc{margin-right:65% !important}
.mr60perc{margin-right:60% !important}
.mr55perc{margin-right:55% !important}
.mr50perc{margin-right:50% !important}
.mr45perc{margin-right:45% !important}
.mr40perc{margin-right:40% !important}
.mr35perc{margin-right:35% !important}
.mr30perc{margin-right:30% !important}
.mr25perc{margin-right:25% !important}
.mr20perc{margin-right:20% !important}
.mr15perc{margin-right:15% !important}
.mr10perc{margin-right:10% !important}
.mr5perc{margin-right:5% !important}

.ml95perc{margin-left:95% !important}
.ml90perc{margin-left:90% !important}
.ml85perc{margin-left:85% !important}
.ml80perc{margin-left:80% !important}
.ml75perc{margin-left:75% !important}
.ml70perc{margin-left:70% !important}
.ml65perc{margin-left:65% !important}
.ml60perc{margin-left:60% !important}
.ml55perc{margin-left:55% !important}
.ml50perc{margin-left:50% !important}
.ml45perc{margin-left:45% !important}
.ml40perc{margin-left:40% !important}
.ml35perc{margin-left:35% !important}
.ml30perc{margin-left:30% !important}
.ml25perc{margin-left:25% !important}
.ml20perc{margin-left:20% !important}
.ml15perc{margin-left:15% !important}
.ml10perc{margin-left:10% !important}
.ml5perc{margin-left:5% !important}

.ml0{margin-left:0px !important}
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}

.mr0{margin-right:0px !important}
.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}

.mt0{margin-top:0px !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}

.mb0{margin-bottom:0px !important}
.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}


/*PADDING*/
.pr95perc{padding-right:95% !important}
.pr90perc{padding-right:90% !important}
.pr85perc{padding-right:85% !important}
.pr80perc{padding-right:80% !important}
.pr75perc{padding-right:75% !important}
.pr70perc{padding-right:70% !important}
.pr65perc{padding-right:65% !important}
.pr60perc{padding-right:60% !important}
.pr55perc{padding-right:55% !important}
.pr50perc{padding-right:50% !important}
.pr45perc{padding-right:45% !important}
.pr40perc{padding-right:40% !important}
.pr35perc{padding-right:35% !important}
.pr30perc{padding-right:30% !important}
.pr25perc{padding-right:25% !important}
.pr20perc{padding-right:20% !important}
.pr15perc{padding-right:15% !important}
.pr10perc{padding-right:10% !important}
.pr5perc{padding-right:5% !important}

.pl95perc{padding-left:95% !important}
.pl90perc{padding-left:90% !important}
.pl85perc{padding-left:85% !important}
.pl80perc{padding-left:80% !important}
.pl75perc{padding-left:75% !important}
.pl70perc{padding-left:70% !important}
.pl65perc{padding-left:65% !important}
.pl60perc{padding-left:60% !important}
.pl55perc{padding-left:55% !important}
.pl50perc{padding-left:50% !important}
.pl45perc{padding-left:45% !important}
.pl40perc{padding-left:40% !important}
.pl35perc{padding-left:35% !important}
.pl30perc{padding-left:30% !important}
.pl25perc{padding-left:25% !important}
.pl20perc{padding-left:20% !important}
.pl15perc{padding-left:15% !important}
.pl10perc{padding-left:10% !important}
.pl5perc{padding-left:5% !important}

.pl5{padding-left:5px !important}
.pl10{padding-left:10px !important}
.pl15{padding-left:15px !important}
.pl20{padding-left:20px !important}
.pl25{padding-left:25px !important}
.pl30{padding-left:30px !important}

.pr5{padding-right:5px !important}
.pr10{padding-right:10px !important}
.pr15{padding-right:15px !important}
.pr20{padding-right:20px !important}
.pr25{padding-right:25px !important}
.pr30{padding-right:30px !important}

.pt5{padding-top:5px !important}
.pt10{padding-top:10px !important}
.pt15{padding-top:15px !important}
.pt20{padding-top:20px !important}
.pt25{padding-top:25px !important}
.pt30{padding-top:30px !important}

.pb5{padding-bottom:5px !important}
.pb10{padding-bottom:10px !important}
.pb15{padding-bottom:15px !important}
.pb20{padding-bottom:20px !important}
.pb25{padding-bottom:25px !important}
.pb30{padding-bottom:30px !important}


/*DISPLAY*/
.db{display:block !important;}
.dn{display:none !important;}
.df{display:flex !important;}

@include media-breakpoint-up(sm) {
	.df-sm{display:flex !important;}
}


/*WIDTH*/
.w100perc{width:100% !important;}
.w95perc{width:95% !important;}
.w90perc{width:90% !important;}
.w85perc{width:85% !important;}
.w80perc{width:80% !important;}
.w75perc{width:75% !important;}
.w70perc{width:70% !important;}
.w65perc{width:65% !important;}
.w60perc{width:60% !important;}
.w55perc{width:55% !important;}
.w50perc{width:50% !important;}
.w45perc{width:45% !important;}
.w40perc{width:40% !important;}
.w35perc{width:35% !important;}
.w30perc{width:30% !important;}
.w25perc{width:25% !important;}
.w20perc{width:20% !important;}
.w15perc{width:15% !important;}
.w10perc{width:10% !important;}
.w5perc{width:5% !important;}


/*TEXT STYLE*/
.ttu{text-transform:uppercase !important;}
.ttl{text-transform:lowercase !important;}
.tdn{text-decoration:none !important;}
.tdu{text-decoration:underline !important;}
.bold,.fwb,.negrita{font-weight:bold !important;}
.italic,.fsi,.cursiva{font-style:italic !important;}
.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}
.wbba{word-break:break-all;}

