*{
	outline:0;
}

body{
	overflow-y:scroll;
}


h1{
	margin-bottom:ceil(($font-size-base * 2));
	margin-top:0;
	font-weight:300;
	color: $brand-primary;
}

h2{
	margin-bottom:ceil(($font-size-base * 2));
	font-weight:300;
}

h3{
	margin-bottom:ceil(($font-size-base * 2));	
}

h4{
	margin-bottom:ceil(($font-size-base * 0.75));		
}

h5{
	margin-bottom:ceil(($font-size-base * 0.75));	
}

h6{
	margin-bottom:ceil(($font-size-base * 0.75));
}

a{
	color:$brand-primary;
	&:focus{
		outline:0;
	}
}

p{
	margin-bottom:20px;
}

img{
	max-width:100%;
	border:0;
}

table{
	box-shadow: $table-box-shadow;
	
	td,th{
		vertical-align: middle;
	}
}

label{
	cursor:pointer;
}