@import 'lib/font-awesome';

.icon-2x{
	font-size: ceil(($font-size-base * 1.25)) !important;
}
.icon-3x{
	font-size: ceil(($font-size-base * 1.5)) !important;
}
.icon-4x{
	font-size: ceil(($font-size-base * 1.75)) !important;
}
.icon-5x{
	font-size: ceil(($font-size-base * 2)) !important;
}
.icon-6x{
	font-size: ceil(($font-size-base * 2.25)) !important;
}
.icon-7x{
	font-size: ceil(($font-size-base * 2.5)) !important;
}
.icon-8x{
	font-size: ceil(($font-size-base * 2.75)) !important;
}
.icon-9x{
	font-size: ceil(($font-size-base * 3)) !important;
}
.icon-10x{
	font-size: ceil(($font-size-base * 3.25)) !important;
}
.icon-11x{
	font-size: ceil(($font-size-base * 3.5)) !important;
}
.icon-12x{
	font-size: ceil(($font-size-base * 3.75)) !important;
}
.icon-13x{
	font-size: ceil(($font-size-base * 4)) !important;
}