@import 'lib/font-awesome';

.icon-2x{
	font-size: ceil(($font-size-base * 1.25));
}
.icon-3x{
	font-size: ceil(($font-size-base * 1.5));
}
.icon-4x{
	font-size: ceil(($font-size-base * 1.75));
}
.icon-5x{
	font-size: ceil(($font-size-base * 2));
}
.icon-6x{
	font-size: ceil(($font-size-base * 2.25));
}
.icon-7x{
	font-size: ceil(($font-size-base * 2.5));
}
.icon-8x{
	font-size: ceil(($font-size-base * 2.75));
}
.icon-9x{
	font-size: ceil(($font-size-base * 3));
}
.icon-10x{
	font-size: ceil(($font-size-base * 3.25));
}
.icon-11x{
	font-size: ceil(($font-size-base * 3.5));
}
.icon-12x{
	font-size: ceil(($font-size-base * 3.75));
}
.icon-13x{
	font-size: ceil(($font-size-base * 4));
}