
.container-fluid{
	padding: $grid-gutter-width;
}

/** BUTTON **/
.btn{
	padding:$btn-padding-vertical $btn-padding-horizontal;

	&.btn-spacing-right{
		margin-right:$grid-gutter-width;
	}
	
	&.btn-border{
		background:transparent;
		border:1px solid $btn-primary-color;
	}
	
	&.btn-border-primary{
		background:transparent;
		border:1px solid $brand-primary;
		color:$brand-primary;
	}	
}

/** FORM **/
.form-control{
	box-shadow: 0 0 0;

	&[disabled]{
		border-color: $input-border-disabled;
		color: $input-color-disabled;	
	}
}

.input-group-addon {
	color:$input-border;
}

.input-group .form-control:first-child{
	border-right:0;
}

.help-block{
	font-size: ceil(($font-size-base * 0.75));
	font-weight:400;
}

.checkbox, .radio{
	&.custom{
		input{
			display:none;
			+ label{
				padding-left:ceil(($grid-gutter-width * 1.75));

				&:hover,&:focus{
					&:before{
						border-color:$brand-primary;
					}	
				}

				&:before{
				    content: '';
				    border: 1px solid #ccc;
				    border-radius: 2px;
				    width: ceil(($grid-gutter-width * 1.25));
				    height: ceil(($grid-gutter-width * 1.25));
				    position: absolute;
				    left: 0;
				    top: 50%;
				    margin-top: ceil(-(($grid-gutter-width * 1.25) / 2));
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    transition:all .2s linear 0s;		    
				}
			}
			
			&:checked + label{
				&:before{
					content: '\f00c';
					color:$brand-primary;
					border-color:$brand-primary;
					font-family:FontAwesome;
				}
			}
		}
	}	
}

.checkbox, .radio{
	input{
		+ label{
			&:hover,&:focus{
				&:before{
					border-color:$brand-primary;
				}	
			}

			&:before{
			    content: '';
			    border: 1px solid #ccc;
			    border-radius: 2px;
			    width: 20px;
			    height: 20px;
			    position: absolute;
			    left: 0;
			    top: 50%;
			    margin-top: -10px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    transition:all .2s linear 0s;		    
			}
		}
		
		&:checked + label{
			&:before{
				content: '\f00c';
				color:$brand-primary;
				border-color:$brand-primary;
				font-family:FontAwesome;
			}
		}
	}
}

/** TABLE **/

.table{
	margin-bottom:$grid-gutter-width;
	
	> tbody, > tfoot, > thead{
		> tr {
			> td, > th {
				vertical-align: middle;
			}
			> th{
				text-transform: uppercase;
				color: $table-head-color;
				font-size: ceil(($font-size-base * 0.75));
				font-weight: $table-head-font-weight;
			}

			> td{
				background:$table-cell-bg;

				.dropdown button{
					color:$table-head-color;

					&:hover,&:focus,&:active,&:active:focus{
						color: $gray-base;
						outline:0;
					}
				}
			}
			&:hover,&:focus{
				> td{
					background:$table-bg-hover;
				}	
			}
		}
	}
}	

/** THUMBNAIL **/
.thumbnail{
	width:100%;
	position:relative;
	display:inline-block;
	float:left;
	box-shadow: $box-shadow;
	border:0;
	margin-bottom:$grid-gutter-width;

	h3{
		margin: $grid-gutter-width 0 0 0;
		font-size: $font-size-base;
	}

	.actions-bar{
		position:absolute;
		top:0;
		right:0;
	}

	.caption{
		float:left;
		width:100%;
		padding-top:0;
	}

	img + .caption{
		padding-top: $grid-gutter-width;
	}

	&.full{
		padding:0 0 $grid-gutter-width 0;
	}
}

/** PANELS **/
.panel{
	border:0;
	box-shadow: $box-shadow;
	margin-bottom:$grid-gutter-width;

	.panel-body{
		>{
			h1,h2,h3,h4,h5,h6{
				margin-top:0;
			}
		}	
	}
}

/** MODALS **/
.modal-header{
	background: $modal-header-bg;
	color: $modal-header-color;

	.close{
		opacity:$close-opacity;
		font-size:$close-font-size;
    	line-height: ceil(($close-font-size / 2));
	}
}

/** PAGINATION **/
.pagination{
	margin: $pagination-margin;
}

/** NAVBAR **/
.navbar-right{
	margin:0;
}

.navbar-toggle{
	padding: $navbar-toggle-padding;
	margin: $navbar-toggle-margin;
	float:left;
}