/** BUTTONS **/
button,	input[type="submit"],.btn{
	
	border:0;
	border-width:1px;
	border-style:solid;
	padding:10px 20px;
	text-align:center;
	line-height:1;
	@include borderRadius0;
	@include stylePrimaryButton;	

	&:hover,&:active,&:focus{
		@include stylePrimaryButtonHover;
	}	

	&.btn-primary{
		@include stylePrimaryButton;
		
		&:hover,&:active,&:focus{
			@include stylePrimaryButtonHover;
		}
	}

	&.btn-default{
		@include styleDefaultButton;
		
		&:hover,&:active,&:focus{
			@include styleDefaultButtonHover;
		}
	}

	&.btn-info{
		@include styleInfoButton;
		
		&:hover,&:active,&:focus{
			@include styleInfoButtonHover;
		}
	}
	
	&.btn-warning{
		@include styleWarningButton;
		
		&:hover,&:active,&:focus{
			@include styleWarningButtonHover;
		}
	}

	&.btn-success{
		@include styleSuccessButton;
		
		&:hover,&:active,&:focus{
			@include styleSuccessButtonHover;
		}
	}	
	
	&.btn-danger{
		@include styleDangerButton;
		
		&:hover,&:active,&:focus{
			@include styleDangerButtonHover;
		}
	}	
	
	&.btn-link{
		@include styleLinkButton;
		
		&:hover,&:active,&:focus{
			@include styleLinkButtonHover;
		}
	}	
}

/** BG **/
.bg-success {
    background-color: $colorBgSuccess;
}

.bg-warning {
    background-color: $colorBgWarning;
}

.bg-primary {
    background-color: $colorBgPrimary;
}

.bg-info {
    background-color: $colorBgInfo;
}

.bg-danger {
    background-color: $colorBgDanger;
}



/**Form Classes**/

.form-control{
	@include borderRadius0;		
}

.checkbox,.checkbox-inline,.radio,.radio-inline{
	input[type="checkbox"],input[type="radio"]{
		margin-top:1px;
	}
}

.form-group label{
	margin-bottom:5px;
}

.form-inline .form-group{
	margin-bottom:0px;
	margin-right:20px;
	
	label{
		margin-bottom:0;
	}
}

.has-success{
	.checkbox,.checkbox-inline, .control-label, .help-block, .radio, .radio-inline, &.checkbox label, &.checkbox-inline label, &.radio label, &.radio-inline label{
		color: $colorSuccess;
	}
	.form-control{
		border-color: $colorSuccess;
	}
}	

.has-warning{
	.checkbox,.checkbox-inline, .control-label, .help-block, .radio, .radio-inline, &.checkbox label, &.checkbox-inline label, &.radio label, &.radio-inline label{
		color: $colorWarning;
	}
	.form-control{
		border-color: $colorWarning;
	}
}	

.has-error{
	.checkbox,.checkbox-inline, .control-label, .help-block, .radio, .radio-inline, &.checkbox label, &.checkbox-inline label, &.radio label, &.radio-inline label{
		color: $colorDanger;
	}
	.form-control{
		border-color: $colorDanger;
	}
}

/** TABLES **/
.table{
	>tbody,>tfoot,>thead{
		>tr{
			&.danger{
				>td,>th{
					background-color:$colorTableDanger;
				}
			}
			>td,th{
				&.danger{
					background-color:$colorTableDanger;
				}
			}
			&.warning{
				>td,>th{
					background-color:$colorTableWarning;
				}
			}
			>td,th{
				&.warning{
					background-color:$colorTableWarning;
				}
			}	
			&.info{
				>td,>th{
					background-color:$colorTableInfo;
				}
			}
			>td,th{
				&.info{
					background-color:$colorTableInfo;
				}
			}	
			&.success{
				>td,>th{
					background-color:$colorTableSuccess;
				}
			}
			>td,th{
				&.success{
					background-color:$colorTableSuccess;
				}
			}	
			&.active{
				>td,>th{
					background-color:$colorTableActive;
				}
			}
			>td,th{
				&.active{
					background-color:$colorTableActive;
				}
			}	
		}		
	}
}	

/** DROPDOWNS**/

.dropdown-menu{
	.divider{
		background:$navBgColor;;
	}
}