$brand-primary: 						#a0ce4e;
$brand-primaryRGB: 						160,206,78;
$brand-secondary: 						#b3d4fc;
$gray-base: 							#000000;

$screen-lg:								1280px;

$box-shadow:							0 1px 1px 0 rgba(0, 0, 0, 0.12);

$grid-gutter-width:						16px;
$grid-float-breakpoint:					$screen-lg;

$header-height: 						60px;
$header-bg: 							#22262f;
$footer-bg: 							$header-bg;
$footer-color: 							#777777;

$line-height-base:						1.5;

$icon-font-path: 						"./fonts/";

$font-family-sans-serif:				'Roboto', sans-serif;
$font-family-serif:						'Roboto', sans-serif;
$font-family-monospace:					'Roboto', sans-serif;

$font-size-base:						16px;
$font-size-h1:							ceil($font-size-base * 2.5);
$font-size-h2:            				ceil($font-size-base * 2.25);
$font-size-h3:            				ceil($font-size-base * 1.75);
$font-size-h4:            				ceil($font-size-base * 1.5);
$font-size-h5:            				ceil($font-size-base * 1.25);
$font-size-h6:							$font-size-base;
$headings-font-weight:					600;

$border-radius-base:					0;
$border-radius-large:					0;
$border-radius-small:					0;

$body-bg:								#f5f5f5;

$breadcrumb-padding-horizontal:			0;
$breadcrumb-padding-vertical:			0;
$breadcrumb-bg:							transparent;

$navbar-default-bg:						transparent;
$nav-link-padding:						ceil(($grid-gutter-width/2)) ceil(($grid-gutter-width));
$navbar-height:							60px;
$navbar-border-radius:					0;
$navbar-default-border: 				0;
$navbar-default-link-color:				#ccced1;
$navbar-default-link-active-bg: 		0;
$navbar-default-link-active-color:  	$brand-primary;
$navbar-default-link-hover-color:       #ffffff;
$navbar-default-toggle-icon-bar-bg:		#ffffff;
$navbar-default-toggle-border-color: 	transparent;
$navbar-default-toggle-hover-bg:		transparent;

$navbar-margin-bottom:					0;
$navbar-padding-horizontal :			ceil(($grid-gutter-width * 0.75));
$navbar-padding-vertical: 				ceil(($grid-gutter-width * 0.75));
$navbar-default-border:					0;

$navbar-child-menu-default-link-bg: 	#ffffff;

$navbar-toggle-padding:					10px;
$navbar-toggle-margin:					12px;

$nav-link-hover-bg:						transparent;
$nav-tabs-active-link-hover-bg:			#ffffff;
$nav-tabs-link-hover-border-color:		transparent;

$btn-primary-bg:						$brand-primary;
$btn-padding-vertical:					12px;
$btn-padding-horizontal:				20px;
$btn-border-radius-base:				7px;
$btn-border-radius-base:				4px;	

$input-color:							$gray-base;
$input-border:							#ddd;
$input-border-radius:					2px;
$input-border-focus:					$brand-primary;
$input-height-base:						44px;
$input-group-addon-bg:					#fff;
$input-border-disabled:					#cccccc;
$input-color-disabled:					#cccccc;
$input-bg-disabled:						#eeeeee;
$input-color-placeholder:				#ddd;

$table-bg:								$body-bg;
$table-cell-padding:					ceil(($grid-gutter-width * 1.25)) $grid-gutter-width;
$table-cell-bg:							#fff;
$table-border-color:					$body-bg;
$table-head-color:						#788195;
$table-head-font-weight:				400;
$table-bg-hover:						lighten($brand-primary,50%);
$table-box-shadow:						0 1px 3px 0 rgba(0,0,0,.2);

$modal-title-padding:					$grid-gutter-width;
$modal-inner-padding:					$grid-gutter-width;
$modal-content-border-color:			transparent;
$modal-content-fallback-border-color: 	transparent;
$modal-backdrop-bg:						#333;
$modal-backdrop-opacity:				0.8;
$modal-header-bg:						$brand-primary;
$modal-header-color:					#fff;

$thumbnail-padding:						$grid-gutter-width;
$thumbnail-caption-padding:   			$grid-gutter-width 0 0 0;

$state-warning-text:					#ec971f;
$state-danger-text:						#c9302c;

$component-bg:                          #ffffff;
$border-bg-white:                       rgba(230,230,230,0.5);

$component-tools-color:					#788195;
$component-tools-opacity:				0.3;
$component-tools-width:					40px;
$component-tools-height:				40px;

$panel-heading-padding:					ceil(($grid-gutter-width * 0.75)) $grid-gutter-width;
$panel-body-padding:					$grid-gutter-width;

$close-color:							#fff;
$close-font-weight:						100;
$close-opacity:							1;
$close-font-size:						44px;

$pagination-margin:						0;

$thumbnail-bg:							#ffffff;