$font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;

$primaryColor: #1fa67a;
$primaryColorHover: #1b926c;
$secondaryColor: #bdc3c7;
$borderColor: $secondaryColor;
$borderColorHover: #1fa67a;

$navBgColor: $primaryColor;
$navTextColor: #ffffff;
$navTextColorHover:#ffffff;

$headerBgColor:#489fdf;
$headerTextColor:#ffffff;

$footerBgColor:#444444;
$footerTextColor:#ffffff;

$mainColorText: #444444;
$bodyColor: #ffffff;

$buttonColor: $primaryColor;
$buttonColorHover: $primaryColorHover;
$buttonTextColor: #ffffff;
$buttonNegativeColor: $secondaryColor;
$buttonNegativeColorHover: #95a5a6;
$buttonNegativeTextColor: #444444;

$linkColor: $primaryColor;
$linkColorHover: #1b926c;

$tableHeaderBgColor: $primaryColor;
$tableHeaderTextColor: #ffffff;

$colorPlaceHolder : #aaaaaa;

$colorSuccess: #3c763d;
$colorWarning: #8a6d3b;
$colorInfo: #3c763d;
$colorDanger: #a94442;
$colorActive: #3c763d;

$colorTableSuccess: #dff0d8;
$colorTableWarning: #fcf8e3;
$colorTableInfo: #d9edf7;
$colorTableDanger: #f2dede;
$colorTableActive: #f5f5f5;

$colorButtonSuccess: #5cb85c;
$colorButtonWarning: #f0ad4e;
$colorButtonInfo: #5bc0de;
$colorButtonDanger: #d9534f;
$colorButtonDefault: $buttonNegativeColor; 
$colorButtonPrimary: $buttonColor; 
$colorButtonLink: transparent; 

$colorButtonHoverSuccess: #449d44;
$colorButtonHoverWarning: #ec971f;
$colorButtonHoverInfo: #31b0d5;
$colorButtonHoverDanger: #c9302c;
$colorButtonHoverDefault: $buttonNegativeColorHover; 
$colorButtonHoverPrimary: $buttonColorHover; 
$colorButtonHoverLink: 0; 

$colorButtonTextSuccess: #ffffff;
$colorButtonTextWarning: #ffffff;
$colorButtonTextInfo: #ffffff;
$colorButtonTextDanger: #ffffff;
$colorButtonTextDefault: $buttonNegativeTextColor; 
$colorButtonTextPrimary: $buttonTextColor; 
$colorButtonTextLink: #000000; 

$colorButtonBorderSuccess: $colorButtonSuccess;
$colorButtonBorderWarning: $colorButtonWarning;
$colorButtonBorderInfo: $colorButtonInfo;
$colorButtonBorderDanger: $colorButtonDanger;
$colorButtonBorderDefault: $colorButtonDefault; 
$colorButtonBorderPrimary: $colorButtonPrimary; 
$colorButtonBorderLink: $colorButtonLink; 

$colorBgSuccess: #dff0d8;
$colorBgWarning: #fcf8e3;
$colorBgInfo: #d9edf7;
$colorBgDanger: #f2dede;
$colorBgPrimary: #f5f5f5;

