$primaryColor: #27ae60;
$secondaryColor: #bdc3c7;
$borderColor: $secondaryColor;
$borderColorHover: #27ae60;
$navBgColor: $primaryColor;
$navTextColor: #ffffff;
$navTextColorHover:#ffffff;
$mainColorText: #444444;
$bodyColor: #ffffff;
$buttonColor: $primaryColor;
$buttonColorHover: #2ecc71;
$buttonTextColor: #ffffff;
$buttonNegativeColor: $secondaryColor;
$buttonNegativeColorHover: #95a5a6;
$buttonNegativeTextColor: #444444;
$linkColor: $primaryColor;
$linkColorHover: #2ecc71;
$tableHeaderBgColor: $primaryColor;
$tableHeaderTextColor: #ffffff;
$colorPlaceHolder : #aaaaaa;

 
 
