@keyframes loading {
    from {width: 0;}
    to {width: 100%;}
}

.nopadding {
   padding: 0 !important;
}

.nomargin {
   margin: 0 !important;
}

.row-spacing{
	margin-bottom: $grid-gutter-width;
}

/** LOADING **/

#loading-mask{
	display:none;
	
	&.active{
		display:block;	
	    position: fixed;
	    background: $brand-primary;
	    top: 0;
	    width: 0%;
	    height: 2px;		
	    animation-name: loading;
	    animation-duration: 1s;
	    animation-iteration-count: infinite;
	}
}

/** ACTIONS **/

.actions-bar{
	padding:5px;
	background: rgba(255,255,255,0.5);
	height:36px;
	li{
		display:inline-block;
		a{
			float: right;
		    position: relative;
		    width: 36px;
		    height: 26px;
		    padding: 0 5px;
		}
	}	
}

.action-edit{
	&:before{
	    content: '\e96e';
	    font-family: icomoon!important;
	    width: 22px;
	    height: 22px;
	    position: absolute;
	    left: 50%;
	    margin-left: -10px;
	    top: 50%;
	    margin-top: -13px;
	    font-size: 20px;
	    color: $gray-base;	
	}    	
}

.action-delete{
	&:before{

	    content: '\e9ac';
	    width: 26px;
	    height: 26px;
	    margin-left: -10px;
	    margin-top: -10px;
	    line-height: 1;	
	    font-family: icomoon!important;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    font-size: 20px;
	    color: $gray-base;	
	}    	
}

.action-edit,.action-delete,.action-view{
	&:hover,&:focus{
		&:before{
			color:$brand-primary;
		}
	}
}	

/** ASPECT RATIO **/	
.aspect-ratio {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 100%;

	img {
	    bottom: 0;
	    left: 0;
	    position: absolute;
	    min-width: 100%;
	    min-height:100%;
	    max-width:100%;
	}

	&.aspect-ratio-3-to-2{
		padding-bottom: percentage(2/3);
	}

	&.aspect-ratio-4-to-3 {
		padding-bottom: percentage(3/4);
	}

	&.aspect-ratio-8-to-5 {
		padding-bottom: percentage(5/8);
	}

	&.aspect-ratio-16-to-9{
		padding-bottom: percentage(9/16);
	}
	&.aspect-ratio-top{
		img {
		    bottom: auto;
		    top: 0;
		}	
	}
	&.aspect-ratio-vertical{
		&.aspect-ratio-3-to-2{
			padding-bottom: percentage(3/2);
		}

		&.aspect-ratio-4-to-3 {
			padding-bottom: percentage(4/3);
		}

		&.aspect-ratio-8-to-5 {
			padding-bottom: percentage(8/5);
		}

		&.aspect-ratio-16-to-9{
			padding-bottom: percentage(16/9);
		}
		&.crop-img {
			img{
				height:100%;
				width:auto;
			}
		}
	}	
}

/** CROP **/

.crop-img {
    overflow: hidden;
    position: relative;
    min-width: 100%;
    height:100%;

	img {
    	left: 0;
    	position: absolute;
    	max-width:none;
    }    
}

.crop-img-center{
	img {
    	left: 50%;
    	transform: translateX(-50%);
    }	
	&.crop-img-middle img {
    	transform: translate(-50%, -50%);
	}    
}

.crop-img-middle img {
    top: 50%;
    transform: translateY(-50%);
}

.crop-img-bottom img {
    bottom: 0;
    top: auto;
}

/** BTN **/
.btn-add{
    position: fixed;
    right: ceil(($grid-gutter-width * 1.5));
    bottom: ceil(($grid-gutter-width * 1.5));
    align-items: center;
    width: ceil(($grid-gutter-width * 4.5));
    height: ceil(($grid-gutter-width * 4.5));
    z-index:9;
}

/** SHORTCODE **/
@media (min-width: $screen-sm-min) {
	.flex-center-center-sm{
	    align-items: center;
	    display: flex;
	    justify-content: center;	
	}

	.flex-vcenter-sm{
	    display: flex;
	    align-items:center;	
	}
}

/** FORM **/
input{
	&[type="checkbox"],&[type="radio"]{
		
		& + .thumbnail{
			cursor:pointer;

			&:before{
				background:$brand-primary;
				opacity:0.2;
				position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			    content: "";
			    left: 0;
			    opacity:0;
			    transition: all 0.2s linear 0s;
			}
			&:after{
			    content: "\f00c";
			    background:#fff;
			    font-family: FontAwesome;
			    font-size: ceil(($font-size-base * 2));
			    position: absolute;
			    line-height: 1;
			    top: 50%;
			    margin-top: -26px;
			    left: 50%;
			    margin-left: -26px;
			    border: 2px solid $brand-primary;
			    border-radius: 50%;
			    padding: ceil(($font-size-base / 2));
			    color:$brand-primary;
			    opacity:0;
			    transition: all 0.2s linear 0s;
			}
		}

		&:checked + .thumbnail, & + .thumbnail:hover,& + .thumbnail:focus{
			&:before{
				opacity:0.2;
			}
			&:after{
				opacity:1;
			}	
		}		
	}
}

.form-group-full-file{
    padding: 16px;
    background: #eee;
    border: 2px dashed #ddd;
   	position:relative;
   	height:100px;

	label{
		width:100%;
		height:100%;
		position:absolute;
	   	display:flex;
	   	align-items:center;
	   	justify-content: center;
	   	flex-direction: column;
	   	top:0;
	   	left:0;
	}

	input{
		display:none;
	}
}

/** FILTER TOOLBAR **/

.filterBar{
	margin:0;
}


/** FRAGMENTS **/
@media (max-width: $screen-xs-max) {
	.fragment-dropdownActions{
		.dropdown-menu{
			right:0;
			left:auto;
		}
	}
}	