#footer{

	background:$footerBgColor;
	color:$footerTextColor;
	padding-top:20px;
	padding-bottom:20px;
	
	nav{
		margin-bottom:20px;
		ul{
			
			margin:0;
			padding:0;
			display:inline;
			
			li{
				display:inline;
				list-style:none;
				margin-right:20px;
				
				a{
					color:$footerTextColor;
				}
			}
		}
	}
	
	p{
		margin:0;
		color:#bbb;
	}
	
	.social-links{
		h3{
			color:$footerTextColor;
			margin-bottom:10px;
		}
		
		ul{
			text-aling:center;	
			padding:0;
			margin:0;
			
			li{
				list-style:none;
				display:inline;
					
				a{
					font-size:calculateFontSize(24px);	
					color:$footerTextColor;
					margin-right: 10px;
				}
			}
		}
	}

}