#header{
	height: $navbar-height;

	.header-content{
		border-left: 1px solid #fff;
	}

	.component{
		margin:0;
		padding:0;
		border:0;
		box-shadow:none;
		background:0;
		width:auto;
		height:$header-height;
		display:flex;
		align-items:center;
	}

	#user{
		float:right;
		border-left: 1px solid $body-bg;
		height: $navbar-height;

		.user-name{
			font-weight:500;
			margin-right: ceil(($grid-gutter-width * 0.5));
		}

		.dropdown{
			display:inline-block;

			button{
				background:0;
				border:0;
				height: $navbar-height;
				outline:0;
				display:flex;
				align-items:center;
				padding-left:$grid-gutter-width;
				float:right;

				i{
					color:$navbar-default-toggle-icon-bar-bg;
				}
			}

			.dropdown-menu{
				right:0;
				left:auto;
			}
		}
	}	
}

@media (min-width: $screen-sm-min) {
	#header{
		background: $header-bg;
		border-bottom: 1px solid $border-bg-white;
		height: $header-height;
		padding:0 $grid-gutter-width;

		.header-content{
			border-left:0;
		}

		#user{
			height: $header-height;
			border-width:2px;

			.dropdown{
				button{
					height: $header-height;

					i{
						color:#333;
						margin-right: ceil(($grid-gutter-width * 0.75));
					}
				}

				.dropdown-menu{
					right:auto;
					left:0;
				}				
			}
		}
	}
}