#navigation{
	background:$navBgColor;
	margin-bottom:20px;

	nav{
		margin-bottom:0;
		background: 0;
		border: 0;
		min-height:0;
		@include borderRadius0;		
	
		#navigation-list{
			padding:0;
			
			ul{
				li{
					a{
						color:$navTextColor;
						padding-top: 10px;
						padding-bottom: 10px;					
					}
					&.active{
						a{
							color:$navTextColorHover;
							background:$primaryColorHover;
						}
					}
					&.open{
						a{
							color:$navBgColor;
						}
					}
				}
			}
			
		}
	}	
}

@media (max-width: 767px) {
	
	#navigation{
	
		nav {
			.navbar-toggle {
				border:0;	
				float:left;
				@include borderRadius0;	
				
				.icon-bar{
					background:#ffffff;
				}
				
				&:focus,&:hover{
					background-color:$primaryColorHover;
				}
			}
			
			#navigation-list{
				ul {
					li{
						&.active {
							a{
								background:0;
							}				
						}
						
						&.open{
							a{
								background:0;
								color:$navTextColor;
							}
						}
					}
				}	
			}			
		}	
	}	
}	