#navigation{
    float:left;
    width:auto;
    height: $header-height;

	.component{
		margin:0;
	}

    .navbar{
    	border:0;

    	.navbar-collapse{
    		padding-left:0;
    		padding-right:0;
            .navbar-nav{
                > li{
                   > a{
                        height:$header-height;
                        display:flex;
                        align-items:center;
                    }
                }
            }
    	}       
    }  
}

.logo{
    float: left;
    padding: ceil(($grid-gutter-width / 2)) 0;

    img{
        height:34px;
    }
}  


.modal-open{
	.child-menu{
		padding-right:16px;
	}
}

@media (min-width: $screen-sm-min) {

    #navigation{
        display:flex;
        align-items:center;
    }
}