#navigation{
	.component{
		margin:0;
	}

    .navbar{
    	border:0;

        .navbar-header{
            background:$header-bg;
        }
    }  
}

.logo{
    float: left;
    padding: ceil(($grid-gutter-width / 2)) 0;

    img{
        height:34px;
    }
}  


.modal-open{
	.child-menu{
		padding-right:16px;
	}
}

@include media-breakpoint-up(sm) {
    #navigation{
        float:left;       
        width: calc(100% + #{ceil($grid-gutter-width * 2)});
        margin-left: ceil((- $grid-gutter-width));
    }
}


@include media-breakpoint-up(lg) {

    #navigation{
        display:flex;
        align-items:center;
        height: $header-height;
        width:auto; 
        margin-left:0;

        .nav-link{
            height:$nav-link-height;
        }   
    }
}