include include_components.pug

mixin component(componentType,componentId,content,componentTitle,showTitle,full,classes)

	- var classesComponent = 'component'
	- var idComponent = ''
	- var classes = classes || ''

	if showTitle  == "false"
		- var classesComponent = classesComponent + ' component-noTitle'

	if full  == "true"
		- var classesComponent = classesComponent + ' component-full'

	if componentId != ''
		-var idComponent = componentType + '-' + componentId

	div(class=classesComponent + ' ' + componentType + ' ' + classes, id=idComponent || false)
		if showTitle != "false"
			div(class="component-title")
				h2 #{componentTitle}

		div(class="component-content")
			+#{componentType}(content)





