.hidden-md.hidden-sm.hidden-xs
	+component('component-logo','',{'url':'./home.html','title':'SunnisJS','src':'./images/logo.png','alt':'SunnieJS Logo'},'','false','true')

div(id="navigation")
		include navigation.pug

div(id="top-bar")
	+component('component-search','id1','','','false','')

	+component('component-languageSelector','id1','','','false','')
