include ../components/component-sample/view.pug

include ../components/component-banner/view.pug

include ../components/component-breadcrumbs/view.pug

include ../components/component-image/view.pug

include ../components/component-languageSelector/view.pug

include ../components/component-sample-basics/view.pug

include ../components/component-sample-form/view.pug

include ../components/component-sample-table/view.pug

include ../components/component-logo/view.pug

include ../components/component-login/view.pug

//include ../components/component-errorRol/view.pug

//include ../components/component-sessionExpired/view.pug

//include ../components/component-error404/view.pug

include ../components/component-sample-list/view

include ../components/component-sample-button/view

include ../components/component-sample-modal/view

include ../components/component-js-functions/view

include ../components/component-data-definitions/view

include ../components/component-layouts/view.pug

include ../components/component-generators/view.pug

include ../components/component-components/view.pug

include ../components/component-getStarted/view.pug

include ../components/component-pages/view.pug

include ../components/component-highlighted-banner/view

include ../components/component-highlighted-content/view

include ../components/component-highlighted-side-image/view

include ../components/component-components/view

include ../components/component-highlighted-flips/view

include ../components/component-cards-list-carousel/view

include ../components/component-slider/view

include ../components/component-search/view.pug