block vars

- var size = modal_size || ''

div(class="modal fade",id=modal_id,tabindex="-1",role="dialog",aria-labelledby="EditarCliente")
	div(class="modal-dialog " + size,role="document")
		div(class="modal-content")
			div(class="modal-header")
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4(class="modal-title" id="EditarCliente") !{modal_title}

			div(class="modal-body")
				block modal-body