block vars

- var size = modal_size || ''

div(class="modal fade",id=modal_id,tabindex="-1",role="dialog")
	div(class="modal-dialog " + size,role="document")
		div(class="modal-content")
			div(class="modal-body")
				block modal-body