nav(class="navbar navbar-default",role="navigation")

	div(class="navbar-header")
		button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navigation-list",aria-expanded="false")

			span(class="sr-only") Toggle navigation
			span(class="icon-bar")
			span(class="icon-bar")
			span(class="icon-bar")

	div(class="navbar-collapse collapse",id="navigation-list", aria-expanded="false")

		ul(class="nav navbar-nav")
			li
				a(href="./home.html", title="Ir a Home")
					span Home

			li
				a(href="./get-started.html", title="Ir a Get Started")
					span Get Started

			li
				a(href="./html-elemments.html", title="Ir a Home", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", id="html-elements")
					span HTML Elements
					span(class="caret")

				ul(class="dropdown-menu",aria-labelledby="html-elements")
					li
						a(href="./typography.html") Typography
					li
						a(href="./lists.html") Lists
					li
						a(href="./tables.html") Tables
					li
						a(href="./buttons.html") Buttons	
					li
						a(href="./forms.html") Forms
					li
						a(href="./modals.html") Modals

			li
				a(href="./layouts.html", title="Ir a Home")
					span Layouts

			li
				a(href="./components.html", title="Ir a Home")
					span Components

			li
				a(href="./pages.html", title="Ir a Pages")
					span Pages

			li
				a(href="./data-definitions.html", title="Ir a Home")
					span Data Definitions

			li
				a(href="./js-functions.html", title="Ir a Home")
					span JS Functions

			li
				a(href="./generators.html", title="Ir a Gneradores")
					span Generators					