div(class="user-data-box")

	div(class="dropdown")
		button(id="dLabel",type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
			i(class="fa fa-user-circle-o icon-4x", aria-hidden="true")
			.user-name.hidden-xs
			span(class="caret hidden-xs")
		ul(class="dropdown-menu",aria-labelledby="dLabel")
			li.dropdown-item
				a(href="javascript:void(0)" class="exit logout") ${{ default.configuration }}$				
			li.dropdown-item
				a(href="javascript:void(0)" class="exit logout") ${{ default.logout }}$