extends ../../../templates/modal_noFooter

block vars
	- var modal_title = "${{ sample-modal.defaultModalTitle }}$"
	- var modal_id = "lexDefaultModal"

block modal-body
	
		.row

			.col-xs-12
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		.row
			.col-xs-12
				div(class="form-group text-right")
					button(type="button",class="btn btn-default",data-dismiss="modal") ${{ sample-modal.cancel }}$
					button(type="submit",class="btn btn-primary",class="send") ${{ sample-modal.acept }}$