.sunniejs-tools.btn-group.position-fixed
	button(type="button" class="btn btn-primary text-white py-3 px-4 mr-2 develop-assistant")
		.sr-only Develop Assistant
		i.fa.fa-comments

	button(type="button" class="btn btn-primary text-white py-3 px-4 addButton")
		.sr-only CMS Tools
		i.fa.fa-cogs