script(id="templateComponentListLI",type="text/x-jsrender")
	li.list-group-item.bg-dark.text-white.border-secondary.border-bottom
		a(href="#modal-component-create", data-toggle="modal").text.text-white
			| Crear Componente
			i.fa.fa-plus.float-right.px-3.py-1

	| {{if data.length > 0 }}
	| {{for data}}
	| {{if editable =='true'}}
	li.list-group-item.bg-dark.text-white.border-secondary.border-bottom.d-flex.justify-content-between.py-2(draggable="true", data-id-component="{{:name}}") 
		span.align-self-center {{:name}}
		
		div.d-flex.align-items-center
			a(href="#modal-component-created-delete", data-toggle="modal", data-component-name="{{:name}}").text.text-white
				i.fa.fa-times.float-right.pr-1.py-1.icon-1x
			a(href="#modal-component-created-edit", data-toggle="modal", data-component-name="{{:name}}").text.text-white
				i.fa.fa-edit.float-right.pr-1.py-1.icon-1x
	| {{else}}
	li.list-group-item.bg-dark.text-white.border-secondary.border-bottom.d-flex.justify-content-between(draggable="true", data-id-component="{{:name}}") 
		span.align-self-center {{:name}}
	| {{/if}}

	| {{/for}}
	| {{/if}}