if locals.development == true
	script(src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin")

	include addButton.pug

	include componentList-template
	include componentListLI-template
	include themeList-template
	include layoutList-template
	include layoutColumnsList-template
	include newComponent-template
	include layoutDropZone-template

	include modal-component-edit.pug
	include modal-component-delete.pug

	include modal-page-add.pug
	include modal-page-edit.pug
	include modal-page-delete.pug

	include modal-site-add.pug
	include modal-site-edit.pug
	include modal-site-delete.pug
	include modal-site-confirm-publish.pug

	include modal-menu-tools.pug