if locals.development == true
	include addButton.pug

	include modal-component-add.pug
	include modal-component-edit.pug
	include modal-component-delete.pug

	include modal-page-add.pug
	include modal-page-edit.pug
	include modal-page-delete.pug

	include modal-site-add.pug
	include modal-site-edit.pug
	include modal-site-delete.pug
	include modal-site-confirm-publish.pug

	include modal-menu-tools.pug