script(id="templateLayoutList",type="text/x-jsrender")
	| {{if data.length > 0 }}
	| {{for data}}
	| {{* window.id = parseInt(Math.random() * (99999 - 0) + 0) }}
	.col-4.form-group
		div(class="custom-control custom-radio")
			input(type="radio" class="custom-control-input" id="layoutPage{{*:id}}" name="layout" value="{{:}}")
			+fragment('fragment-label',{"for":"layoutPage{{*:id}}", "text":"{{:}}", "class":"custom-control-label"},'true')
	| {{/for}}
	| {{/if}}