script(id="templateLayoutColumnsList",type="text/x-jquery-tmpl")
	| {%if data.columns.length > 0 %}
	option(value="") Selecciona una columna	
	| {%each data.columns%}
	option(value="${$value}") ${$value}
	| {%/each%}
	| {%/if%}