extends ../modal_noFooter

block vars
	- var modal_title = "Subir fichero"
	- var modal_id = "modal-multimedia-add"
	- var modal_size = "modal-lg"

block modal-body

	form
		.alert.alert-dark.text-center.text-secondary.position-relative.dropfile.py-5
			i.fa.fa-upload.icon-12x
			p.mb-0.text-uppercase.icon-2x Arrastra o selecciona el fichero	
			+fragment('fragment-input',{"class":"position-absolute h-100 w-100 opacity-0 left-0 top-0 cursor-pointer", "type":"file", "id":"uploadFile","name":"uploadfile", "required":"required","multiple":"multiple","accept":".jpeg,.jpg,.png,.gif,.bmp"}, "true")
		
		.row.filesContainer

		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(class="btn btn-default mr-3", data-toggle="modal", data-target="#modal-multimedia-list", data-dismiss="modal") Cancelar
				a(class="btn btn-primary send") Subir