extends ../modal_noFooter

block vars
	- var modal_title = "Editar Página"
	- var modal_id = "modal-page-edit"
	- var modal_size = "modal-full"

block modal-body
	form(id="form-edit-page",data-toggle="validator",role="form",data-method="POST",data-action=apiDevelopment + "/site/{idSite}/page/edit/{idPage}", data-callback="editPageCallback")

		div(id="edit-page-block",data-service-data=apiDevelopment + "/site/{idSite}/page/detail/{idPage}",data-method="GET",data-template="#templateEditPage",data-target="#edit-page-block")

		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(type="submit",class="btn btn-primary send") Guardar

	script(id="templateEditPage",type="text/x-jsrender")
		.row
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageIdEdit", "text":"ID"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"pageIdEdit","name":"id", "required":"required","disabled":"disabled","value":"{{:data.id}}"})

			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageNameEdit", "text":"Nombre"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"pageNameEdit","name":"name", "required":"required","value":"{{:data.name}}"})
		.row
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageSRCEdit", "text":"SRC"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"pageSRCEdit","name":"src", "required":"required","disabled":"disabled","value":"{{:data.src}}"})
	
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageURLEdit", "text":"Url"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"pageURLEdit","name":"url", "required":"required","value":"{{:data.url}}"})
		.row
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageParentPositionEdit", "text":"Padre"})
				select(name="parentPosition",id="pageParentPositionEdit",class="form-control",data-load="true",data-service-data=apiDevelopment + "/site/{idSite}/page/list",data-method="GET",data-template="#templatePagesList",data-target="#modal-page-edit #pageParentPositionEdit",data-callback="checkParentPage", data-content='"{{:data.parentPosition}}","{{:data.position}}"')

			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pagePositionEdit", "text":"Posición"})
				+fragment('fragment-input',{"class":"form-control", "type":"number", "id":"pagePositionEdit","name":"position", "required":"required","value":"{{:data.position}}","min":"0"})
		.row
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageTitleEdit", "text":"Page Title"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"pageTitleEdit","name":"title", "required":"required","value":"{{:data.attributes.title}}"})

			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageDescriptionEdit", "text":"Description"})
				textarea(type="text",name="description",id="pageDescriptionEdit",class="form-control") {{:data.attributes.description}}

			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageKeywordsEdit", "text":"Keywords"})
				textarea(type="text",name="keywords",id="pageKeywordsEdit",class="form-control") {{:data.attributes.keywords}}

		.row

			| {{if data.hidden && data.hidden == "true"}}
			| {{* window.hidden = 'selected'}}
			| {{else}}
			| {{* window.hidden = ''}}
			| {{/if}}

			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageHiddenEdit", "text":"Page Hidden"})
				select(name="hidden",id="pageHiddenEdit",class="form-control",required)
					option(value="false") No
					option(value="true", {{*:hidden}}) Si				
		.row
			.col-12
				h3 Seleciona una plantilla de página
		.row(id="layoutEditList",data-load="true",data-service-data=apiDevelopment + "/layout/list",data-method="GET",data-template="#templateLayoutList",data-items-per-page="0",data-initial-page="0",data-target="#modal-page-edit #layoutEditList",data-checked="{{:data.layout.name}}.pug",data-checked-target="#modal-page-edit #layoutEditList")