extends ../modal_noFooter

block vars
	- var modal_title = "Editar Contenido"
	- var modal_id = "modal-content-edit"
	- var modal_size = "modal-lg"

block modal-body

	form(id="form-edit-content",data-toggle="validator",role="form",data-method="POST",data-action=apiDevelopment + "/site/{idSite}/content/edit", data-callback="editContentCallback")

		p Recuerda que si modificas un contenido y lo guardas, los cambios serán extendidos a todos los componentes que usen este contenido.

		div(id="edit-content-block")

		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(class="btn btn-default mr-3", data-toggle="modal", data-target="#modal-contents", data-dismiss="modal") Cancelar
				button(class="btn btn-primary send", type="submit") Guardar		

	script(id="templateEditContent",type="text/x-jsrender")
		.row
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"contentID", "text":"ID"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"contentID","name":"id", "required":"required","value":"{{:data.id}}","disabled":"disabled"})
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"contentNameEdit", "text":"Nombre"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"contentNameEdit","name":"name","value":"{{:data.name}}", "required":"required"})
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"contentTypeSelector", "text":"Tipo de Contenido"})
				select(name="contentType", id="contentTypeSelector", class="form-control", required, disabled)
					
					| {{for data.contentTypes}}

					| {{if value && value == ~root.data.content.contentType}}
					| {{* window.selected = "selected" }}
					| {{else}}
					| {{* window.selected = "" }}
					| {{/if}}
					
					option(value="{{:value}}",{{*:selected}}) {{:label}}
					| {{/for}}				

		.row
			.col-12
			| {{for data.config ~originalContent = ~root.data.content tmpl="#templateFormGenerator"/}}
