extends ../modal_noFooter

block vars
	- var modal_title = "Crear Página"
	- var modal_id = "modal-page-add"
	- var modal_size = "modal-full"

block modal-body
	form(id="form-add-page",data-toggle="validator",role="form",data-method="POST",data-action=apiDevelopment + "/site/{idSite}/page/add", data-callback="addPageCallback")
		.row
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageName", "text":"Nombre"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"pageName","name":"name", "required":"required"})

			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageURL", "text":"Url"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"pageURL","name":"url", "required":"required"})

		.row
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageParentPosition", "text":"Padre"})
				select(name="parentPosition",id="pageParentPosition",class="form-control",data-load="true",data-service-data=apiDevelopment + "/site/{idSite}/page/list",data-method="GET",data-template="#templatePagesList",data-target="#modal-page-add #pageParentPosition")

			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pagePosition", "text":"Posición"})
				+fragment('fragment-input',{"class":"form-control", "type":"number", "id":"pagePosition","name":"position", "required":"required","min":"0"})

		.row
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageTitle", "text":"Page Title"})
				+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"pageTitle","name":"title", "required":"required"})

			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageDescription", "text":"Description"})
				textarea(type="text",name="description",id="pageDescription",class="form-control")

			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageKeywords", "text":"Keywords"})
				textarea(type="text",name="keywords",id="pageKeywords",class="form-control")
		.row
			div(class="form-group col-4")
				+fragment('fragment-label',{"for":"pageHidden", "text":"Page Hidden"})
				select(name="hidden",id="pageHidden",class="form-control",required)
					option(value="false") No
					option(value="true") Si

		.row
			.col-12
				h3 Seleciona una plantilla de página
		.row(id="layoutList",data-load="true",data-service-data=apiDevelopment + "/layout/list",data-method="GET",data-template="#templateLayoutList",data-items-per-page="0",data-initial-page="0",data-target="#modal-page-add #layoutList")

		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(type="submit",class="btn btn-primary send") Guardar