extends ../modal_noFooter

block vars
	- var modal_title = "Contenidos"
	- var modal_id = "modal-contents"
	- var modal_size = "modal-full"

block modal-body

	div(id="contentList",data-service-data=apiDevelopment + "/site/{idSite}/contents",data-method="GET",data-template="#templateContentsList",data-target="#modal-contents #contentList")

	
	script(id="templateContentsList",type="text/x-jsrender")

		| {{if data.content.length > 0}}
		.row
			| {{for data.content }}
			| {{* window.id =parseInt((Math.random() * 6) + 1) }}

			.col-12.col-sm-4.col-md-3.col-lg-2
				.card
					.card-img-top
						div.actions.position-absolute.px-2.py-1.w-100.text-right.icon-3x
							a.action.text-white(data-content-id='{{:id}}', data-content-type="{{:contentType}}", data-toggle='modal', data-target='#modal-content-edit', data-dismiss='modal')
								i(class="fa fa-edit")
									span.sr-only Editar contenido
							a.action.text-white.ml-2(href="", data-content-id='{{:id}}', data-content-type="{{:contentType}}", data-toggle='modal', data-target='#modal-content-delete', data-dismiss='modal')
								i(class="fa fa-times")
									span.sr-only Eliminar contenido		
						div(class="bg-{{*:id}} icon-12x text-white text-center d-flex justify-content-center align-items-center color-tips") {{:name.substring(0,2)}}
					.card-body
						if(header != '')
							h3.card-title.icon-2x {{:name}}

			| {{/for}}

		| {{else}}
		.row
			.alert.alert-info.text-center.col-12.col-sm-8.offset-sm-2 Todavía no has creado tu primer contenido	

		| {{/if}}

		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")

				button(class="btn btn-primary mr-3", data-toggle="modal", data-target="#modal-content-add", data-dismiss="modal") Nuevo
				button(class="btn btn-primary d-none") Borrar seleccionados