extends ../modal_noFooter

block vars
	- var modal_title = "Editar Site"
	- var modal_id = "modal-site-edit"
	- var modal_size = "modal-full"

block modal-body
	form(id="form-edit-site",data-toggle="validator",role="form",data-method="POST",data-action=apiDevelopment + "/site/edit/{idSite}", data-callback="editSiteCallback")
		
		div(id="edit-site-block",data-service-data=apiDevelopment + "/site/detail/{idSite}",data-method="GET",data-template="#templateEditSite",data-target="#edit-site-block",data-callback="dataEditSiteLoadedCallback")

		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(type="submit",class="btn btn-primary send") Editar


	script(id="templateEditSite",type="text/x-jsrender")

		ul.nav.nav-tabs.mb-3(id="edit-site-tabs",role="tablist")
			li.nav-item
				a.nav-link.active(id="edit-config-tab",data-toggle="pill" href="#edit-block-site-data" role="tab" aria-controls="edit-block-site-data" aria-selected="true") Configuración
			li.nav-item
				a.nav-link(id="edit-manifest-tab",data-toggle="pill" href="#edit-block-site-manifest" role="tab" aria-controls="edit-block-site-manifest" aria-selected="false") Manifest
		#edit-site-content-tabs.tab-content
			#edit-block-site-data.tab-pane.show.active(role="tabpanel",aria-labelledby="config-tab")
				.row
					div(class="form-group col-4")
						+fragment('fragment-label',{"for":"siteNameEdit", "text":"Nombre"})
						input(type="text",name="name",id="siteNameEdit",class="form-control",value="{{:data.name}}",required)

					div(class="form-group col-4")
						+fragment('fragment-label',{"for":"siteURLEdit", "text":"URL"})
						input(type="text",name="url",id="siteURLEdit",class="form-control",value="{{:data.url}}",required)

					div(class="form-group col-md-4 col-12")

						| {{if data.enableChatBot && data.enableChatBot == 'true'}}
						| {{* window.enableChatBot = "checked"}}
						| {{else}}
						| {{* window.enableChatBot = "" }}
						| {{/if}}

						| {{* window.id = parseInt(Math.random() * (99999 - 0) + 0) }}

						fielset
							legend Activar Asistente de Desarrollo(solo desarrollo)

							div(class="custom-control custom-radio")
								input(type="radio",name="enableChatBot",id="enableChatBotNoEdit{{*:id}}",class="form-control custom-control-input",required, value="false", checked)
								+fragment('fragment-label',{"for":"enableChatBotNoEdit{{*:id}}", "text":"No", "class":"uppercase custom-control-label"},'true')

							div(class="custom-control custom-radio")
								input(type="radio",name="enableChatBot",id="enableChatBotSiEdit{{*:id}}",class="form-control custom-control-input",required,value="true",{{*:enableChatBot}})
								+fragment('fragment-label',{"for":"enableChatBotSiEdit{{*:id}}", "text":"Si", "class":"uppercase custom-control-label"},'true')
				
				.row
					.col-12
						h3 Seleciona un tema de apariencia
				.row(id="themeList",data-load="true",data-service-data=apiDevelopment + "/theme/list",data-method="GET",data-template="#templateThemeList",data-items-per-page="0",data-initial-page="0",data-target="#modal-site-edit #themeList",data-content='"{{:data.theme}}' + '"',data-callback="checkThemeSelected")

			#edit-block-site-manifest.tab-pane(role="tabpanel",aria-labelledby="manifest-tab")
				.row
					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_nameEdit", "text":"Name"})
						+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"manifest_nameEdit","name":"manifest_name","value":"{{:data.manifest.name}}"})
					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_short_nameEdit", "text":"Short Name"})
						+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"manifest_short_nameEdit","name":"manifest_short_name","value":"{{:data.manifest.short_name}}"})
					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_theme_colorEdit", "text":"Theme Color"})
						+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"manifest_theme_colorEdit","name":"manifest_theme_color","value":"{{:data.manifest.theme_color}}"})
					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_background_colorEdit", "text":"Background Color"})
						+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"manifest_background_colorEdit","name":"manifest_background_color","value":"{{:data.manifest.background_color}}"})

				.row
					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_displayEdit", "text":"Display"})
						+fragment('fragment-select',{"class":"form-control", "id":"manifest_displayEdit","name":"manifest_display","value":"{{:data.manifest.display}}","options":[{"value":"fullscreen","text":"Fullscreen"},{"value":"standalone","text":"Standalone"},{"value":"minimal-ui","text":"Minimal UI"},{"value":"browser","text":"Browser"}]})

					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_orientationEdit", "text":"Orientation"})
						+fragment('fragment-select',{"class":"form-control", "id":"manifest_orientationEdit","name":"manifest_orientation","value":"{{:data.manifest.orientation}}","options":[{"value":"any","text":"Any"},{"value":"natural","text":"Natural"},{"value":"landscape","text":"Landscape"},{"value":"portrait","text":"Portrait"},{"value":"portrait-primary","text":"Portrait Primary"},{"value":"portrait-secondary","text":"Portrait Secondary"},{"value":"landscape-primary","text":"Landscape Primary"},{"value":"landscape-secondary","text":"Landscape Secondary"}]})

					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_scopeEdit", "text":"Scope"})
						+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"manifest_scopeEdit","name":"manifest_scope","value":"{{:data.manifest.scope}}"})

					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_descriptionEdit", "text":"Description"})
						+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"manifest_descriptionEdit","name":"manifest_description","value":"{{:data.manifest.description}}"})
				.row
					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_start_urlEdit", "text":"Start URL"})
						+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"manifest_start_urlEdit","name":"manifest_start_url","value":"{{:data.manifest.start_url}}"})
					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_langEdit", "text":"Lang"})
						+fragment('fragment-input',{"class":"form-control", "type":"text", "id":"manifest_langEdit","name":"manifest_lang","value":"{{:data.manifest.lang}}"})
					div(class="form-group col-3")
						+fragment('fragment-label',{"for":"manifest_iconEdit", "text":"Icon"})
						+fragment('fragment-input',{"class":"form-control", "type":"file", "id":"manifest_iconEdit","name":"manifest_icon"})