extends ../modal_noFooter

block vars
	- var modal_title = "Crear Página"
	- var modal_id = "modal-page-add"
	- var modal_size = "modal-lg"

block modal-body
	form(id="form-add-page",data-toggle="validator",role="form",data-method="POST",data-action=apiDevelopment + "/site/{idSite}/page/add", data-callback="addPageCallback")
		.row
			div(class="form-group col-4")
				label(for="user",class="uppercase") Nombre
				input(type="text",name="name",id="pageName",class="form-control",required)

			div(class="form-group col-4")
				label(for="user",class="uppercase") Url
				input(type="text",name="url",id="pageURL",class="form-control",required)

			div(class="form-group col-4")
				label(for="pagePosition",class="uppercase") Posición
				input(type="number",name="position",min=0,id="pagePosition",class="form-control",required)

		.row
			div(class="form-group col-4")
				label(for="pageTitle",class="uppercase") Page Title
				input(type="text",name="title",id="pageTitle",class="form-control",required)

			div(class="form-group col-4")
				label(for="pageDescription",class="uppercase") Description
				textarea(type="text",name="description",id="pageDescription",class="form-control")

			div(class="form-group col-4")
				label(for="pageKeywords",class="uppercase") Keywords
				textarea(type="text",name="keywords",id="pageKeywords",class="form-control")
		.row
			.col-12
				h3 Seleciona una plantilla de página
		.row(id="layoutList",data-load="true",data-service-data=apiDevelopment + "/layout/list",data-method="GET",data-template="#templateLayoutList",data-items-per-page="0",data-initial-page="0",data-target="#modal-page-add #layoutList")

		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(type="submit",class="btn btn-primary send") Guardar