extends ../modal_noHeaderNoFooter

block vars
	- var modal_id = "modal-page-delete"
	- var modal_size = "modal-sm"

block modal-body
	form(data-toggle="validator",role="form",data-method="POST",data-action=apiDevelopment + "/site/{idSite}/page/delete/{idPage}", data-callback="deletePageCallback")
		.row
			.col-12
				p ¿Estás seguro que deseas eliminar esta página?
		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(type="submit",class="btn btn-primary send") Eliminar