extends ../modal_noHeaderNoFooter

block vars
	- var modal_id = "modal-component-created-delete"
	- var modal_size = "modal-md"

block modal-body
	form(data-toggle="validator",role="form",data-method="POST",data-action=apiDevelopment + "/site/{idSite}/component/delete-created", data-callback="deleteComponentCreated")
		.row
			.col-12
				p Recuerda que solo se pueden eliminar aquellos componentes que no estén en uso en ningún site.
				p ¿Estás seguro que deseas eliminar el componente?
				input(type="hidden", name="name")
		.row
			div(class="form-group col-12 d-flex justify-content-end mb-0")
				button(type="submit",class="btn btn-primary send") Eliminar