#header{
	min-height: $navbar-height;
	background: $header-bg;
	position:relative;

	#top-bar{
		position: absolute;
    	right: 0;
    	top:0;
	}

	.header-content{
		border-left: 1px solid #fff;
	}

	.component,.fragment{
		margin:0;
		padding:0;
		border:0;
		box-shadow:none;
		background:0;
		width:auto;
		height:$header-height;
		display:flex;
		align-items:center;
	}

	.component-siteSelector,.component-languageSelector{
		float:right;
		width:auto;

		.dropdown{
			button{
				color:$white;
			}
		}
	}

	img{
		max-height:$navbar-height - ($grid-gutter-width*2);
	}
}

@include media-breakpoint-up(md) {
	#header{
		padding:0 $grid-gutter-width;
		
		.header-content{
			border-left:0;
		}
	}
}