#navigation{
    float:left;
    width:100%;

	.component{
		margin:0;
	}

    .navbar{
    	border:0;

        .navbar-header{
            background:$header-bg;
        }

    	.navbar-collapse{
    		padding-left:0;
    		padding-right:0;
            background:$header-bg;

            .navbar-nav{
                margin:0;

                > li{
                   > a{
                        height: $header-height;
                        display: flex;
                        align-items: center;
                        padding-left: $grid-gutter-width;
                        padding-right: $grid-gutter-width;                        
                    }
                }
            }
    	}       
    }  
}

.logo{
    float: left;
    padding: ceil(($grid-gutter-width / 2)) 0;

    img{
        height:34px;
    }
}  


.modal-open{
	.child-menu{
		padding-right:16px;
	}
}

@media (min-width: $screen-sm) {
    #navigation{
        width: calc(100% + #{ceil($grid-gutter-width * 2)});
        margin-left: ceil((- $grid-gutter-width));
    }
}


@media (min-width: $screen-lg) {

    #navigation{
        display:flex;
        align-items:center;
        height: $header-height;
        width:auto; 
        margin-left:0;

        .navbar{
            .navbar-collapse{
                margin-bottom:0;
            }
        }     
    }
}