include ./layout-12-3-9-12.pug

include ./layout-12-3-9.pug

include ./layout-12-4-8-12.pug

include ./layout-12-4-8.pug

include ./layout-12-6-6-12.pug

include ./layout-12-6-6.pug

include ./layout-12-8-4-12.pug

include ./layout-12-8-4.pug

include ./layout-12-9-3-12.pug

include ./layout-12-9-3.pug

include ./layout-12.pug

include ./layout-3-9.pug

include ./layout-4-4-4-noHeader.pug

include ./layout-4-8.pug

include ./layout-6-6.pug

include ./layout-8-4.pug

include ./layout-9-3.pug

include ./layout-9-3-fluid.pug

include ./layout-9-3.pug

include ./layout-12-fluid.pug

include ./layout-2-10-fluid.pug
