extends ../theme/templates/portal

block head
	block header

block content
	div(id="layout-4-4-4",class="layout",role="main")
		div(class="container-fluid")

			div(class="layout-row row")

				div(class="column col-md-4 col-xs-12")
					block column0

				div(class="column col-md-4 col-xs-12")
					block column1

				div(class="column col-md-4 col-xs-12")
					block column2

