mixin layout-2-10-fluid(content)
	-var column0 = content.column0 || ''	
	-var column1 = content.column1	|| ''

	div(id="layout-2-10-fluid",class="layout",role="main")
		div(class="container-fluid")

			div(class="layout-row row")

				div(class="column col-xl-2 col-lg-3 col-md-4 d-none d-md-block")
					each component in column0
						+component(component.name || '',component.id || '',component.content || '',component.title || '',component.showTitle || 'true',component.full || 'false',component.classes || '')

				div(class="column col-xl-10 col-lg-9 col-md-8 col-12")
					each component in column1
						+component(component.name || '',component.id || '',component.content || '',component.title || '',component.showTitle || 'true',component.full || 'false',component.classes || '')

