extends ../theme/templates/portal

block head
	block header

block content
	div(id="layout-2-10-fluid",class="layout",role="main")
		div(class="container-fluid")

			div(class="layout-row row")

				div(class="column col-lg-2 col-md-3 hidden-xs")
					block column0

				div(class="column col-lg-10 col-md-9 col-xs-12")
					block column1

