mixin layout-2-10-fluid(content)
	-var column0 = content.column0 || ''	
	-var column1 = content.column1	|| ''

	div(id="layout-2-10-fluid",class="layout",role="main", data-layout-id="layout-2-10-fluid")
		div(class="container-fluid")

			div(class="layout-row row")

				div(class="layout-column col-xl-2 col-lg-3 col-md-4 d-none d-md-block",data-layout-column="column0")
					each component,index in column0
						+component({"name":component.name || '' , "id":component.id || '',"content":component.content || '', "title":component.title || '',"showTitle":component.showTitle || 'true', "full":component.full || 'false',"classes":component.classes || '', "index":index, "new":component.new || 'false'})

				div(class="layout-column col-xl-10 col-lg-9 col-md-8 col-12",data-layout-column="column1")
					each component,index in column1
						+component({"name":component.name || '' , "id":component.id || '',"content":component.content || '', "title":component.title || '',"showTitle":component.showTitle || 'true', "full":component.full || 'false',"classes":component.classes || '', "index":index, "new":component.new || 'false'})

