mixin layout-4-8(content)
	- var content_left = content.content_left	
	- var content_right = content.content_right	

	div(id="layout-4-8",class="layout",role="main")
		div(class="container")

			div(class="layout-row row")

				div(class="column col-md-4 col-12")
					each component in content_left
						+component(component.name || '',component.id || '',component.content || '',component.title || '',component.showTitle || 'true',component.full || 'false',component.classes || '')

				div(class="column col-md-8 col-12")
					each component in content_right
						+component(component.name || '',component.id || '',component.content || '',component.title || '',component.showTitle || 'true',component.full || 'false',component.classes || '')