mixin layout-home(content)	
	-var column1 = content.column1	|| ''
	-var column1 = content.column2	|| ''
	-var column1 = content.column3	|| ''
	-var column1 = content.column4	|| ''
	-var content_right = content.content_right	|| ''

	div(id="layout-home",class="layout",role="main", data-layout-id="layout-home")
		div(class="container-fluid")

			div(class="layout-row row")

				div(class="column col-md-9 col-12")
					div(class="layout-row row")
						div(class="layout-column col-md-12 col-12",data-layout-column="column1")
							each component,index in column1
								+component({"name":component.name || '' , "id":component.id || '',"content":component.content || '', "title":component.title || '',"showTitle":component.showTitle || 'true', "full":component.full || 'false',"classes":component.classes || '', "index":index, "new":component.new || 'false'})

					div(class="layout-row row df-sm")
						div(class="column col-md-6 col-12 df-sm",data-layout-column="column2")
							each component,index in column2
								+component({"name":component.name || '' , "id":component.id || '',"content":component.content || '', "title":component.title || '',"showTitle":component.showTitle || 'true', "full":component.full || 'false',"classes":component.classes || '', "index":index, "new":component.new || 'false'})

						div(class="layout-column col-md-6 col-12 df-sm",data-layout-column="column3")
							each component,index in column3
								+component({"name":component.name || '' , "id":component.id || '',"content":component.content || '', "title":component.title || '',"showTitle":component.showTitle || 'true', "full":component.full || 'false',"classes":component.classes || '', "index":index, "new":component.new || 'false'})

					div(class="layout-row row df")
						div(class="layout-column col-md-12 col-12",data-layout-column="column4")
							each component,index in column4
								+component({"name":component.name || '' , "id":component.id || '',"content":component.content || '', "title":component.title || '',"showTitle":component.showTitle || 'true', "full":component.full || 'false',"classes":component.classes || '', "index":index, "new":component.new || 'false'})

				div(class="layout-column col-md-3 col-12",data-layout-column="content_right")
					each component,index in content_right
						+component({"name":component.name || '' , "id":component.id || '',"content":component.content || '', "title":component.title || '',"showTitle":component.showTitle || 'true', "full":component.full || 'false',"classes":component.classes || '', "index":index, "new":component.new || 'false'})