extends ../theme/templates/portal

block head
	block header

block content
	div(id="layout-9-3",class="layout",role="main")
		div(class="container-fluid")

			div(class="layout-row row")

				div(class="column col-md-9 col-xs-12")
					div(class="layout-row row")
						div(class="column col-md-12 col-xs-12")
							block column-1

					div(class="layout-row row df-sm")
						div(class="column col-md-6 col-xs-12 df-sm")
							block column-2

						div(class="column col-md-6 col-xs-12 df-sm")
							block column-3

					div(class="layout-row row df")
						div(class="column col-md-12 col-xs-12")
							block column-4

				div(class="column col-md-3 col-xs-12")
					block content-right