mixin layout-12-fluid(content)

	- var content_upper = content.content_upper

	div(id="layout-12",class="layout",role="main")
		div(class="container-fluid")

			div(class="layout-row row")
			
				div(class="column col-12",data-layout-column="content_upper")

					each component,index in content_upper
						+component({"name":component.name || '' , "id":component.id || '',"content":component.content || '', "title":component.title || '',"showTitle":component.showTitle || 'true', "full":component.full || 'false',"classes":component.classes || '', "index":index})
