extends ../theme/templates/portal

block head
	block header

block content
	div(id="layout-12-9-3",class="layout",role="main")
		div(class="container")

			div(class="layout-row row")

				div(class="column col-md-12")
					block content-upper

			div(class="layout-row row")

				div(class="column col-md-9 col-xs-12")
					block content-left

				div(class="column col-md-3 col-xs-12")
					block content-right

			div(class="layout-row row")

				div(class="column col-md-12")
					block content-lower