mixin component-sample-table(content)

	.row
		.col-xs-12
			.panel.panel-default
				.panel-body
					h1.nomargin Tables

			div
				.panel.panel-default
					.panel-body
						h2.nomargin Standar
						.table-responsive
							table(class="table")
								thead
									tr
										th First Name
										th Last Name
										th Username
								tbody
									tr
										td Mark
										td Otto
										td @mdo

									tr
										td Mark
										td Otto
										td @mdo

									tr
										td Mark
										td Otto
										td @mdo

			div
				.panel.panel-default
					.panel-body
						h2.nomargin Striped
						.table-responsive
							table(class="table table-bordered")
								thead
									tr
										th #
										th First Name
										th Last Name
										th Username
								tbody
									tr
										th(scope="row") 1
										td Mark
										td Otto
										td @mdo

									tr
										th(scope="row") 2
										td Mark
										td Otto
										td @mdo

									tr
										th(scope="row") 3
										td Mark
										td Otto
										td @mdo			

			div
				.panel.panel-default
					.panel-body
						h2.nomargin Contextual Clases
						.table-responsive
							table(class="table table-bordered")
								thead
									tr
										th #
										th First Name
										th Last Name
										th Username
								tbody
									tr(class="success")
										th(scope="row") 1
										td Mark
										td Otto
										td @mdo

									tr(class="active")
										th(scope="row") 2
										td Mark
										td Otto
										td @mdo

									tr(class="warning")
										th(scope="row") 3
										td Mark
										td Otto
										td @mdo

									tr(class="info")
										th(scope="row") 3
										td Mark
										td Otto
										td @mdo

									tr(class="danger")
										th(scope="row") 3
										td Mark
										td Otto
										td @mdo