mixin component-generators(content)
	.row
		.col-xs-12
			h1 Generadores
			
			p Sunnie dispone de su propio <span class="text-primary">generador de código HTML</span> con el que podrás <span class="text-primary">automatizar</span> la creación de <span class="text-primary">componentes</span>, <span class="text-primary">páginas</span> y <span class="text-primary">layouts</span>.

			h2 Antes de empezar
			
			p Lo primero que debes hacer para usar nuestro generador es asegurarte de que tienes instalado en tu ordenador <span class="text-primary">NodeJS</span> y puedes usar las funciones de <span class="text-primary">npm</span> desde una consola de administración. También es necesario que tengas instalado <span class="text-primary">yeoman</span> y <span class="text-primary">gulp</span>.
	.row
		.col-sm-6.col-xs-12
				h3 Yeoman
				
				pre
					| npm install -g yo

		.col-sm-6.col-xs-12
				h3 Gulp
				
				pre
					| npm install -g gulp

	.row
		.col-xs-12
			h2 Instalación
			
			p Debes descargar la <strong>release 1.1.X</strong>(última release disponible de la versión 1) del generador desde nuestro git: <a href="https://github.com/SergioGB-work/generator-sunnie">https://github.com/SergioGB-work/generator-sunnie</a> en una carpeta de tu ordenador.

			p Una vez descargado instala el proyecto situándote con una consola de administración sobre la carpeta del proyecto y ejecutando:
			
			pre
				| npm install

			p Por último vamos a hacer que el generador esté disponible para usarlo en cualquier directorio. Desde la misma carpeta del proyecto ejecutamos:
			
			pre
				| npm link

			h2 Empieza a usarlo
			
			p Nuestro generador dispone de 3 subgeneradores que te permitirán crear páginas, layouts y componentes nuevos.

			h3 Layouts
			
			p Para generar una nueva layout debes situarte con tu consola de administración(CMD) sobre la carpeta de tu proyecto Sunnie <span class="text-priimary">/src/pug/layouts</span>.
			
			p Desde ahí debes ejecutar lo siguiente:
			
			pre
				| yo sunnie:layout
			p Esto lanzará el generador de layouts y te irá preguntando una serie de cuestiones para que definas la distribución de dicha layout: <span class="text-primary">filas</span> , <span class="text-primary">columnas</span>, <span class="text-primary">tamaño de columnas</span>, <span class="text-primary">fluidez</span>, etc...
			
			p.text-center
				img(src="./images/demo/generator-layout-img.png",alt="")

			p Cuando finalices, obtendras la layout en el directorio en el que te encuentras y con la configuración que has definido sin necesidad de haber escrito <span class="text-primary">ni una sola línea de código</span>.

			h3 Páginas
			
			p Para generar una nueva página debes situarte con tu consola de administración(CMD) sobre la carpeta de tu proyecto Sunnie <span class="text-primary">/src/pug</span>.
			
			p Desde ahí debes ejecutar lo siguiente:
			
			pre
				| yo sunnie:page
			
			p Esto lanzará el generador de páginas y te irá preguntando una serie de cuestiones para que definas tu página: <span class="text-primary">nombre</span>, <span class="text-primary">metas</span>, <span class="text-primary">layout</span> que quieres utilizar de las que tienes definidas en tu carpeta de layouts, etc...

			p.text-center
				img(src="./images/demo/generator-page-img.png",alt="")

			p Esto te permite que el resultado final sea una página nueva, con las metas que has escrito y su contenido, con los huecos definidos en la layout que has elegido y un componente de ejemplo desplegado en esos huecos.

			p Lo último que faltaría sería que rellenes los huecos con los componentes que desees y ya estaría listo para publicar.

			h3 Componentes

			p Para generar una nuevo componente debes situarte con tu consola de administración(CMD) sobre la carpeta de tu proyecto Sunnie <span class="text-primary">/src/pug/components</span>.
			
			p Desde ahí debes ejecutar lo siguiente:
			
			pre
				| yo sunnie:component
			
			p Esto lanzará el generador de componentes y te preguntará dos cosas: <span class="text-primary">nombre de tu componente</span> y si quieres sobreescribir el archivo include_components a lo que debes contestar <span class="text-primary">"Y"</span>.

			p.text-center
				img(src="./images/demo/generator-component-img.png",alt="")

			p Esto te creará toda la <span class="text-primary">estructura HTML</span> del componente básica necesaria en su carpeta correspondiente dentro de la carpeta  de componentes y añadir tu componente al archivo <span class="text-primary">include_components</span> para que lo tengas disponible para su uso desde el minuto 0.
