mixin component-sample-basics(content)
	div
		h1 Header H1
			small secondary text
		h2 Header H2
		h3 Header H3
		h4 Header H4
		h5 Header H5
		h6 Header H6
	
	div
		h2 Paragraph
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		
	div
		h2 Link
		a(href="#",title="Link") This is a link
	
	div
		h2 Lists

		div
			h3 Unordered List
			ul
				li Lorem ipsum dolor sit amet
				li Consectetur adipiscing elit
				li Integer molestie lorem at massa
				li Facilisis in pretium nisl aliquet
				li Nulla volutpat aliquam velit 
					ul
						li Phasellus iaculis neque
						li Purus sodales ultricies
						li Vestibulum laoreet porttitor sem
						li Ac tristique libero volutpat at
				li Faucibus porta lacus fringilla vel
				li Aenean sit amet erat nunc
				li Eget porttitor lorem

		div
			h3 Ordenered List	
			ol
				li Lorem ipsum dolor sit amet
				li Consectetur adipiscing elit
				li Integer molestie lorem at massa
				li Facilisis in pretium nisl aliquet
				li Nulla volutpat aliquam velit 
					ol
						li Phasellus iaculis neque
						li Purus sodales ultricies
						li Vestibulum laoreet porttitor sem
						li Ac tristique libero volutpat at
				li Faucibus porta lacus fringilla vel
				li Aenean sit amet erat nunc
				li Eget porttitor lorem	

		div
			h3 List Unstyled
			ul(class="list-unstyled")
					li Lorem ipsum dolor sit amet
					li Consectetur adipiscing elit
					li Integer molestie lorem at massa
					li Facilisis in pretium nisl aliquet
					li Nulla volutpat aliquam velit 
						ul
							li Phasellus iaculis neque
							li Purus sodales ultricies
							li Vestibulum laoreet porttitor sem
							li Ac tristique libero volutpat at
					li Faucibus porta lacus fringilla vel
					li Aenean sit amet erat nunc
					li Eget porttitor lorem
			
		h3 List Inline
		ul(class="list-inline")
			li Lorem ipsum
			li Lorem ipsum
			li Lorem ipsum
	
	div
		h2 Definition List
		h3 Standar
		dl 
			dt Description lists
			dd A description list is perfect for defining terms.
			dt Euismod
			dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
			dd Donec id elit non mi porta gravida at eget metus.
			dt Malesuada porta
			dd Etiam porta sem malesuada magna mollis euismod.

		h3 Hotizontal List	
		dl(class="dl-horizontal") 
			dt Description lists
			dd A description list is perfect for defining terms.
			dt Euismod
			dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
			dd Donec id elit non mi porta gravida at eget metus.
			dt Malesuada porta
			dd Etiam porta sem malesuada magna mollis euismod.		
	
	div
		h2 Buttons
		p
			button(type="button",class="btn btn-default") Default

			button(type="button",class="btn btn-primary") Primary

			button(type="button",class="btn btn-success") Success

			button(type="button",class="btn btn-info") Info

			button(type="button",class="btn btn-warning") Warning

			button(type="button",class="btn btn-danger") Danger

			button(type="button",class="btn btn-link") Link
		
		p
			button(type="button",class="btn btn-primary btn-lg") Large button
			button(type="button",class="btn btn-default btn-lg") Large button

		p
			button(type="button",class="btn btn-primary") Default button
			button(type="button",class="btn btn-default") Default button

		p
			button(type="button",class="btn btn-primary btn-sm") Small button
			button(type="button",class="btn btn-default btn-sm") Small button

		p
			button(type="button" class="btn btn-primary btn-xs") Extra small button
			button(type="button" class="btn btn-default btn-xs") Extra small button
	
		p
			button(type="button",class="btn btn-primary btn-lg btn-block") Block level button
			button(type="button",class="btn btn-default btn-lg btn-block") Block level button		
		
		
		