mixin component-breadcrumbs(content)
	nav(id="breadcrumbs")
		ul(class="breadcrumb")
			li
				h3
					a(href="#") Home
			li
				h3
					a(href="#") Pagina 1

			li
				h3
					a(href="#") Pagina 2

			li(class="active")
				h3
					a(href="#") Pagina 3					