extends ./layouts/layout-12-fluid

block header
	title Forms
	meta(name="keywords",content="pug")
	meta(name="description",content="pug")

block content-upper

	+component("component-sample-form","","","","false","false")