extends /layouts/layout-12-8-4

block header
	title Mi titulo
	
block content-upper

	+component('component-breadcrumbs','','','false','true')


block content-left

	+component('component-sample-basics','','Sample Component Basics')

	+component('component-sample','Hola Paco','Sample Component')

	+component('component-sample','Hola Pedro, mi nombre es sancho','Sample Component 2')

	+component('component-sample-form','','Sample Component 2')

	+component('component-sample-table','','Sample Component 2','true','true')


block content-right

	+component('component-image',{'src':'/images/image1.png','alt':'description'},'','false','true')

	+component('component-banner',{'src':'/images/image1.png','alt':'description','href':'./pagina1.html','title':'Ir a la pagina 1'},'','false','true')

	div(class="component") 
		h2 My page6