extends ./layouts/layout-12-fluid

block header
	title Modals
	meta(name="keywords",content="pug")
	meta(name="description",content="pug")

block content-upper

	+component("component-sample-modal","","","","false","true")

