footer
	div(class="col-md-9 col-xs-12")
		nav
			ul
				li
					a(href="#",title="") Home
				li
					a(href="#",title="") Sobre Nosotros
				li
					a(href="#",title="") Empresas
				li
					a(href="#",title="") Productos
				li
					a(href="#",title="") Contacto

		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

	div(class="col-md-3 col-xs-12 social-links")
		h3 Siguenos en:
		ul
			li
				a(href="#",title="Ir a Facebook")
					span(class="fa fa-facebook-official", aria-hidden="true") 
					span(class="sr-only") Ir a Facebook
			li
				a(href="#",title="Ir a Twitter")
					span(class="fa fa-twitter", aria-hidden="true")
					span(class="sr-only") Ir a Twitter
			li
				a(href="#",title="Ir a Instagram")
					span(class="fa fa-instagram", aria-hidden="true")
					span(class="sr-only") Ir a Instagram
			li
				a(href="#",title="Ir a Google Plus")
					span(class="fa fa-google-plus-official", aria-hidden="true")
					span(class="sr-only") Ir a Google Plus