div(class="row header-content")
	div(class="col-md-9 col-xs-6")
		+component('component-logo','','','','false','true')

	div(class="col-md-3 col-xs-6")
		+component('component-language','','','','false','true')

