doctype
html
	head
		link(href="css/main.min.css",rel="stylesheet")
		block head	

body

	include component

	div(id="header")
		div(class="container-fluid")
			div(class="container")
			include navigation
	div(id="content")
		block content
	div(id="footer")
		div(class="container-fluid")
			div(class="container")
				include footer

	script(src="js/main.min.js",type="text/javascript")