extends layouts/layout-12-fluid

block header
	title SunnieJS
	
block content-upper

	.row
		.col-xs-12
			+component("component-highlighted-side-image","",{"content":"<h2>Based on Bootstrap 3</h2><h3>Easy to extend and customise</h3><p>SunnieJS está basado en Bootstrap 3 por lo que con unos simples ajustes podrás disponer de un portal totalmente reformado sin apenas esfuerzo. Además, gracias a Bootstrap, tus aplicaciones web serán 100% responsive adaptandose a todo tipo de dispositivos móviles.</p>","image":{"src":"./images/bootstrap-stack.png","alt":"Imagen Monument"},"position":"left"},"","false","true")

	.row
		.col-xs-12
			+component("component-highlighted-content","",{"content":"<h2>Generadores propios</h2><h3>Una forma muy fácil de crear código</h3><p>SunnieJS dispone de sus propios generadores de código creados en Yeoman que te permitirán crear componentes, plantillas de página y páginas dejándolos listos para su uso en tu portal ya que se crearán todas las dependencias y estructuras de código necesarios para su uso si que necesidad de que conozcas como se hace. Tan solo debes rellenar el contenido de tu componente y elegir que plantilla y componentes conformarán tu página. No esperes mas y echa un vistazo a nuestros generadores. </p>","button":{"text":"Conoce nuestros Generadores","href":"./generators.html","title":"Ir a Generators"}},"","false","true")
	
	.row
		.row
			+component("component-highlighted-banner","",{"content":"<h2>Mas que un tema de apariencia</h2><p>SunnieJS es un entorno completo de desarrollo ágil de aplicaciones web front. Es capaz de integrarse a través de servicios web para obtener datos de forma dinámica e interactuar con ellos.</p>","button":{"text":"Conoce SunnieJS a fondo","href":"./data-definitions.html","title":"Ir a Data Definitions"}},"","false","true")

	.row
		.col-md-3
			+fragment("fragment-card",{"src":"./images/product1.jpg","alt":"Internacionalización","header":"Internacionalización","description":"¿Quieres traducir tu página web a varios idiomas? Te lo ponemos fácil gracias al sistema de internacionalización nativo en HTML5.","classes":"full"})

		.col-md-3
			+fragment("fragment-card",{"src":"./images/product2.jpg","alt":"Código Limpio y Estructurado","header":"Código limpio y estructurado","description":"Dispone de un código limpio y estructurado en base a diferentes que campas que, compiladas, conforman el código final.","classes":"full","href":"./generators.html"})

		.col-md-3
			+fragment("fragment-card",{"src":"./images/product3.jpg","alt":"ShortCodes","header":"Short Codes","description":"Usa los shortcodes de bootstrap y todos los nuevos que te ofrecemos con esta herramienta","classes":"full",})

		.col-md-3
			+fragment("fragment-card",{"src":"./images/product4.jpg","alt":"SEO Friendly","header":"SEO Friendly","description":"SunnieJS al completo es SEO Friendly, incluyendo la personalización de metadatos por página.","classes":"full"})

	.row
		.row
			+component("component-highlighted-banner","",{"content":"<h2>Decenas de componentes te esperan. Úsalos o crea los tuyos propios.</h2>","button":{"text":"Ver componentes","href":"./components.html","title":"Ir a Componentes"}},"","false","true")

	.row
		.col-xs-12
			+component("component-highlighted-side-image","",{"content":"<h2>Biblioteca de <span class='text-primary'>Componentes</span> propia</h2><p>Por defecto, te ofrecemos una amplia variedad de componentes para que los utilices: <span class='text-primary'>carruseles</span>, <span class='text-primary'>tarjetas</span>, <span class='text-primary'>imagenes</span>, <span class='text-primary'>banners</span>, <span class='text-primary'>destacados</span>, <span class='text-primary'>navegación</span>, <span class='text-primary'>login</span>...y muchos más! <strong>Tu eliges!</strong> Puedes usar uno que te guste o crear el tuyo propio pero no te preocupes porque si eliges crear el tuyo podrás usar el <strong>generador de componentes</strong> para que te resulte muy sencillo. </p><p>Cada día disponemos de mas y mas componentes que podrás disfrutar sin limite.</p>","image":{"src":"./images/bootstrap-stack.png","alt":"Imagen Monument"},"position":"right"},"","false","true")