extends ./layouts/layout-12-fluid

block header
	title Layouts
	meta(name="keywords",content="pug")
	meta(name="description",content="pug")

block content-upper

	+component("component-layouts","",[{"src":"./images/layouts/layout-12-3-9-12.png","alt":"Layout 12 3 9 12","header":"layout-12-3-9-12","classes":"img-padding"},{"src":"./images/layouts/layout-12-3-9.png","alt":"Layout 12 3 9","header":"layout-12-3-9","classes":"img-padding"},{"src":"./images/layouts/layout-12-4-8-12.png","alt":"Layout 12 4 8 12","header":"layout-12-4-8-12","classes":"img-padding"},{"src":"./images/layouts/layout-12-4-8.png","alt":"Layout 12 4 8","header":"layout-12-4-8","classes":"img-padding"},{"src":"./images/layouts/layout-12-6-6-12.png","alt":"Layout 12 6 6 12","header":"layout-12-6-6-12","classes":"img-padding"},{"src":"./images/layouts/layout-12-6-6.png","alt":"Layout 12 6 6","header":"layout-12-6-6","classes":"img-padding"},{"src":"./images/layouts/layout-12-8-4-12.png","alt":"Layout 12 8 4 12","header":"layout-12-8-4-12","classes":"img-padding"},{"src":"./images/layouts/layout-12-8-4.png","alt":"Layout 12 8 4","header":"layout-12-8-4","classes":"img-padding"},{"src":"./images/layouts/layout-12-9-3-12.png","alt":"Layout 12 9 3 12","header":"layout-12-9-3-12","classes":"img-padding"},{"src":"./images/layouts/layout-12-9-3.png","alt":"Layout 12 9 3","header":"layout-12-9-3","classes":"img-padding"},{"src":"./images/layouts/layout-12-fluid.png","alt":"Layout 12 Fluid","header":"layout-12-fluid","classes":"img-padding"},{"src":"./images/layouts/layout-12.png","alt":"Layout 12","header":"layout-12","classes":"img-padding"},{"src":"./images/layouts/layout-3-9.png","alt":"Layout 3 9","header":"layout-3-9","classes":"img-padding"},{"src":"./images/layouts/layout-4-4-4-noHeader.png","alt":"Layout 4 4 4 No Header","header":"layout-4-4-4-noHeader","classes":"img-padding"},{"src":"./images/layouts/layout-4-8.png","alt":"Layout 4 8","header":"layout-4-8","classes":"img-padding"},{"src":"./images/layouts/layout-6-6.png","alt":"Layout 6 6","header":"layout-6-6","classes":"img-padding"},{"src":"./images/layouts/layout-8-4.png","alt":"Layout 8 4","header":"layout-8-4","classes":"img-padding"},{"src":"./images/layouts/layout-9-3.png","alt":"Layout 9 3","header":"layout-9-3","classes":"img-padding"}],"","false","true")

