extends ./layouts/layout-12-fluid

block header
	title Layouts
	meta(name="keywords",content="pug")
	meta(name="description",content="pug")

block content-upper

	+component("component-layouts","",[{"src":"./images/layout-12-3-9-12.jpg","alt":"Layout 12 3 9 12","header":"layout-12-3-9-12"},{"src":"./images/layout-12-3-9.jpg","alt":"Layout 12 3 9","header":"layout-12-3-9"},{"src":"./images/layout-12-4-8-12.jpg","alt":"Layout 12 4 8 12","header":"layout-12-4-8-12"},{"src":"./images/layout-12-4-8.jpg","alt":"Layout 12 4 8","header":"layout-12-4-8"},{"src":"./images/layout-12-6-6-12.jpg","alt":"Layout 12 6 6 12","header":"layout-12-6-6-12"},{"src":"./images/layout-12-6-6.jpg","alt":"Layout 12 6 6","header":"layout-12-6-6"},{"src":"./images/layout-12-8-4-12.jpg","alt":"Layout 12 8 4 12","header":"layout-12-8-4-12"},{"src":"./images/layout-12-8-4.jpg","alt":"Layout 12 8 4","header":"layout-12-8-4"},{"src":"./images/layout-12-9-3-12.jpg","alt":"Layout 12 9 3 12","header":"layout-12-9-3-12"},{"src":"./images/layout-12-9-3.jpg","alt":"Layout 12 9 3","header":"layout-12-9-3"},{"src":"./images/layout-12-fluid.jpg","alt":"Layout 12 Fluid","header":"layout-12-fluid"},{"src":"./images/layout-12.jpg","alt":"Layout 12","header":"layout-12"},{"src":"./images/layout-3-9.jpg","alt":"Layout 3 9","header":"layout-3-9"},{"src":"./images/layout-4-4-4-noHeader.jpg","alt":"Layout 4 4 4 No Header","header":"layout-4-4-4-noHeader"},{"src":"./images/layout-4-8.jpg","alt":"Layout 4 8","header":"layout-4-8"},{"src":"./images/layout-6-6.jpg","alt":"Layout 6 6","header":"layout-6-6"},{"src":"./images/layout-8-4.jpg","alt":"Layout 8 4","header":"layout-8-4"},{"src":"./images/layout-9-3.jpg","alt":"Layout 9 3","header":"layout-9-3"}],"","false","false")

