extends ../templates/portal

block head
	block header

block content
	div(id="layout-4-8",class="layout")
		div(class="container")
			div(class="column col-md-4")
				block content-left
			div(class="column col-md-8")
				block content-right