*{
	@include borderRadius0;	
}

body{
	background-color: $bodyColor;
	color: $mainColorText;
	font-family: $font-family;
	font-size:calculateFontSize(14px);
	line-height:1;
}

h1{
	font-size:calculateFontSize(30px);
	color:$primaryColor;
	margin-bottom:20px;	
}

h2{
	font-size:calculateFontSize(24px);
	color:$primaryColor;
	margin-bottom:20px;	
}

h3{
	font-size:calculateFontSize(18px);
	color: $mainColorText;
	margin-bottom:20px;	
}

h4{
	font-size:calculateFontSize(16px);
	color: $mainColorText;
	margin-bottom:10px;		
}

h5{
	font-size:calculateFontSize(14px);
	color: $mainColorText;
	margin-bottom:10px;		
}

h6{
	font-size:calculateFontSize(14px);
	color: $mainColorText;
	margin-bottom:10px;		
}

a{
	color:$primaryColor;
	font-size: calculateFontSize(14px);
	
	&:hover,&:active,&:focus{
		text-decoration:underline;
		color:$primaryColor;
	}

}

p{
	line-height:1.5;
	margin-bottom:20px;
	font-size: calculateFontSize(14px);
}

strong,b{
	@include fontWeightBold;	
}

img{
	max-width:100%;
	border:0;
}

ul,ol{
	padding-left:30px;

	li{
		line-height:1.5;
	}
}

ul{
	list-style:disc;
	
	ul{
			list-style:circle;
		ul{
			list-style:square;
		}
	}
}

ol{
	list-style:decimal;
}	

dl{
	line-height:1.5;
	dt{
		@include fontWeightBold;
	}
	dd{
		
	}
}


/** FORMS ELEMENTS **/
form{
	margin-bottom:20px;
}

label{
	font-size: calculateFontSize(14px);
	@include fontWeightBold;
}

::-webkit-input-placeholder {
   color: $colorPlaceHolder;
   font-size: calculateFontSize(14px);
}

:-moz-placeholder { /* Firefox 18- */
   color: $colorPlaceHolder;
   font-size: calculateFontSize(14px);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $colorPlaceHolder;
   font-size: calculateFontSize(14px);
}

:-ms-input-placeholder {
   color: $colorPlaceHolder;
   font-size: calculateFontSize(14px);
}

:-webkit-autofill, :-webkit-autofill, :-webkit-autofill{
	background:0;
}

input{
	font-size: calculateFontSize(14px);
	max-width:100%;
	
	
	
	&[type="text"],&[type="password"],&[type="email"],&[type="number"],&[type="search"]{
		@include inputStyle;	

		&:hover,&:focus,&:active{
			@include inputStyleHover;
		}
		
		&:-webkit-autofill, &:-webkit-autofill, &:-webkit-autofill{
			background:0;
		}
	}

	&[type="text"]{
		
	}
	
	&[type="password"]{

	}
	
	&[type="mail"]{

	}	
	
	&[type="number"]{

	}	
	
	&[type="search"]{

	}	
}

textarea{
	@include inputStyle;	
	
		&:hover,&:focus,&:active{
			@include inputStyleHover;
		}		
}

select{	
	@include inputStyle;	
	
		&:hover,&:focus,&:active{
			@include inputStyleHover;
		}	
}

/** BUTTONS **/
button,	input[type="submit"],.btn{
	
	border:0;
	border-width:1px;
	border-style:solid;
	padding:10px 20px;
	text-align:center;
	line-height:1;
	@include borderRadius0;
	@include stylePrimaryButton;	

	&:hover,&:active,&:focus{
		@include stylePrimaryButtonHover;
	}		
}

/** TABLE ITEMS **/

table{
	float:left;
	width:100%;

	tbody{
	
		td{
		
		}
	}
	
	thead{	
		th{
			background:$tableHeaderBgColor;
			color:$tableHeaderTextColor;
		}
	}
}
