@import 'variables';
@import '../lib/bootstrap/variables';
@import '../lib/codemirror/codemirror';
@import '../lib/codemirror/base16-dark';

.sunniejs-tools{
	right:1em;
	bottom:1em;
	transition: 0.3s 0s all;
}


/** SIDEBAR MENU **/
#sidebar-menu-tools{
	width:$sidebar-menu-tools-width;
	right:-($sidebar-menu-tools-width);
	top:0;
	z-index:9;
	overflow-y:auto;

	transition: all .2s linear 0s;

	ul{
		li{
			font-size:0.75rem;		
		}
	}
	a,span{
		cursor:pointer;

		@include hover-focus-active{
			text-decoration:none
		}
	}	
}

#wrapper{
	transition: all .2s linear 0s;
}

.show-sidebar-menu-tools{
	#wrapper{
		padding-right:#{$sidebar-menu-tools-width};
	}

	.sunniejs-tools{
		right:calc(1rem + #{$sidebar-menu-tools-width});
	}

	#sidebar-menu-tools{
		right:0;
	}
}

.show-develop-assistant{
	#wrapper{
		padding-right:$develop-assistant-width;
	}

	.sunniejs-tools{
		right:calc(1rem + #{$develop-assistant-width});
	}

	.component-develop-assistant{
		right:0;
	}
}

.layout{
	.layout-drop-zone{
		width:100%;
		height:100px;
		float:left;
		background:$white;
		box-shadow: $box-shadow;
		margin-bottom:$grid-gutter-width;

		&.dragging-over{
			border:1px solid $primary;
		}		
	}
}

.modal{
	.card{
		.actions{
			display:none;
		}

		@include hover-focus-active{
			.actions{
				z-index:9;
				display:block;			
				.action{
					cursor:pointer;
					@include hover-focus-active{
						text-decoration:none;
						color:$gray-300 !important;
					}
				}
			}
		}
	}	
}

.color-tips{
	padding-top:25%;
	padding-bottom:25%;
	font-weight:100;
	text-transform:capitalize;

	&.bg-1{
		background:$info;
	}
	&.bg-2{
		background:$warning;
	}
	&.bg-3{
		background:$danger;
	}
	&.bg-4{
		background:$success;
	}
	&.bg-5{
		background:$primary;
	}
	&.bg-6{
		background:$secondary;
	}		
}