@import 'lib/font-awesome';

.icon-2x{
	font-size: 1.25rem !important;
}
.icon-3x{
	font-size: 1.5rem !important;
}
.icon-4x{
	font-size: 1.75rem !important;
}
.icon-5x{
	font-size: 2rem !important;
}
.icon-6x{
	font-size: 2.25rem !important;
}
.icon-7x{
	font-size: 2.5rem !important;
}
.icon-8x{
	font-size: 2.75rem !important;
}
.icon-9x{
	font-size: 3rem !important;
}
.icon-10x{
	font-size: 3.25rem !important;
}
.icon-11x{
	font-size: 3.5rem !important;
}
.icon-12x{
	font-size: 3.75rem !important;
}
.icon-13x{
	font-size: 4rem !important;
}