.container-fluid{
	padding: $grid-gutter-width;
}

/** BUTTON **/
.btn{
	padding:$btn-padding-vertical $btn-padding-horizontal;

	&.btn-spacing-right{
		margin-right:$grid-gutter-width;
	}
	
	&.btn-border{
		background:transparent;
		border:1px solid $btn-primary-color;
	}
	
	&.btn-border-primary{
		background:transparent;
		border:1px solid $primary;
		color:$primary;
	}
	&,&:active,&.active {
		&:focus,&.focus {
		  outline:none;
		}
	}
}

/** FORM **/
.form-control{
	@include box-shadow(none);

	&[disabled]{
		border-color: $input-border-disabled;
		color: $input-color-disabled;	
	}

	&:focus{
		@include box-shadow(none);
	}
}

.input-group-addon {
	color:$input-border;
}

.input-group .form-control:first-child{
	border-right:0;
}

.form-text{
	font-size: ceil(($font-size-base * 0.75));
	font-weight:400;
}

.checkbox, .radio{
	&.custom{
		input{
			display:none;
			+ label{
				padding-left:ceil(($grid-gutter-width * 1.75));

				&:hover,&:focus{
					&:before{
						border-color:$primary;
					}	
				}

				&:before{
				    content: '';
				    border: 1px solid #ccc;
				    border-radius: 2px;
				    width: ceil(($grid-gutter-width * 1.25));
				    height: ceil(($grid-gutter-width * 1.25));
				    position: absolute;
				    left: 0;
				    top: 50%;
				    margin-top: ceil(-(($grid-gutter-width * 1.25) / 2));
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    transition:all .2s linear 0s;		    
				}
			}
			
			&:checked + label{
				&:before{
					content: '\f00c';
					color:$primary;
					border-color:$primary;
					font-family:FontAwesome;
				}
			}
		}
		a{
			padding-left:ceil(($grid-gutter-width * 1.75));
			
			&:hover,&:focus{
				&:before{
					border-color:$primary;
				}	
			}	
			&:before{
			    content: '';
			    border: 1px solid #ccc;
			    border-radius: 2px;
			    width: ceil(($grid-gutter-width * 1.25));
			    height: ceil(($grid-gutter-width * 1.25));
			    position: absolute;
			    left: 0;
			    top: 50%;
			    margin-top: ceil(-(($grid-gutter-width * 1.25) / 2));
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    transition:all .2s linear 0s;		    
			}					
		}
		&.active{
			a{
				&:before{
					content: '\f00c';
					color:$primary;
					border-color:$primary;
					font-family:FontAwesome;
				}				
			}
		}
	}	
}

.checkbox, .radio{
	input{
		+ label{
			&:hover,&:focus{
				&:before{
					border-color:$primary;
				}	
			}

			&:before{
			    content: '';
			    border: 1px solid #ccc;
			    border-radius: 2px;
			    width: 20px;
			    height: 20px;
			    position: absolute;
			    left: 0;
			    top: 50%;
			    margin-top: -10px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    transition:all .2s linear 0s;		    
			}
		}
		
		&:checked + label{
			&:before{
				content: '\f00c';
				color:$primary;
				border-color:$primary;
				font-family:FontAwesome;
			}
		}
	}
}

fieldset,.fieldset{
	border: 1px solid $input-border;
	padding:$grid-gutter-width;
}

legend{
	margin-bottom:0;
}

/** TABLE **/

.table{
	margin-bottom:$grid-gutter-width;
	
	> tbody, > tfoot, > thead{
		> tr {
			> td, > th {
				vertical-align: middle;
			}
			> th{
				text-transform: uppercase;
				color: $table-head-color;
				font-size: ceil(($font-size-base * 0.75));
				font-weight: $table-head-font-weight;
			}

			> td{
				background:$table-cell-bg;

				.dropdown button{
					color:$table-head-color;

					&:hover,&:focus,&:active,&:active:focus{
						color: $gray-base;
						outline:0;
					}
				}
			}
			&:hover,&:focus{
				> td{
					background:$table-bg-hover;
				}	
			}
		}
	}
}	

/** PANELS **/
.card{
	border:0;
	box-shadow: $box-shadow;
	margin-bottom:$grid-gutter-width;

	> a{
		color: $gray-base;
		text-decoration:none;
		
		&:hover{
			text-decoration:none;
		}
	}

	.card-body{

		.card-title{
			margin-bottom:0;

			+ .card-text{
				margin-top:$card-spacer-y;
			}
		}	
	}

	&.img-padding{
		.card-img-top,.card-img-bottom{
			padding: 1rem 1rem 0;
		}
	}
}

/** MODALS **/
.modal-header{
	background: $modal-header-bg;
	color: $modal-header-color;
}

/** PAGINATION **/
.pagination{
	margin: $pagination-margin;
}

/** NAVBAR **/
.navbar-right{
	margin:0;
}

.navbar-toggler{
	padding: $navbar-toggle-padding;
	float:left;
}

.navbar-toggler-icon{
	height:1.7em;
}

.dropdown-menu{
	.dropdown-item{
		a{
			color: $dropdown-link-color;

			&:hover{
				text-decoration: none;
			}
		}
		&.active{
			a{
				color: $dropdown-link-active-color;
				text-decoration: none;
			}
		}	
	}
}

.close{
	opacity:$close-opacity;
	height: 60px;

	@include hover-focus {
	  opacity: 1;
	}

	span{
	    height: 25px;
	    float: right;
	    line-height: 15px;
	}
}

.tooltip-inner{
	border:1px solid $tooltip-arrow-color;
}

@include media-breakpoint-up(sm) {
	.container-fluid{
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}
}	