@mixin borderRadius0 {
	border-radius:0;
	-webkit-border-radius:0;
}

@mixin fontWeightBold {
	font-weight:bold;
}

@mixin inputStyle {
	@include borderRadius0;	
	font-size: calculateFontSize(14px);
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid $borderColor;
	color:$mainColorText;
}

@mixin inputStyleHover {
    border-color: $borderColorHover;
}

@mixin stylePrimaryButton {
	background-color:$colorButtonPrimary;
	border-color:$colorButtonBorderPrimary;
	color:$colorButtonTextPrimary;
}

@mixin stylePrimaryButtonHover {
	background-color:$colorButtonHoverPrimary;
	border-color:$colorButtonBorderPrimary;
	color:$colorButtonTextPrimary;
}

@mixin styleDefaultButton {
	background-color:$colorButtonDefault;
	border-color:$colorButtonBorderDefault;
	color:$colorButtonTextDefault;
}

@mixin styleDefaultButtonHover {
	background-color:$colorButtonHoverDefault;
	border-color:$colorButtonBorderDefault;
	color:$colorButtonTextDefault;
}

@mixin styleInfoButton {
	background-color:$colorButtonInfo;
		border-color:$colorButtonBorderInfo;
	color:$colorButtonTextInfo;
}

@mixin styleInfoButtonHover {
	background-color:$colorButtonHoverInfo;
	border-color:$colorButtonBorderInfo;
	color:$colorButtonTextInfo;
}

@mixin styleWarningButton {
	background-color:$colorButtonWarning;
	border-color:$colorButtonBorderWarning;
	color:$colorButtonTextWarning;
}

@mixin styleWarningButtonHover {
	background-color:$colorButtonHoverWarning;
	border-color:$colorButtonBorderWarning;
	color:$colorButtonTextWarning;
}

@mixin styleSuccessButton {
	background-color:$colorButtonSuccess;
		border-color:$colorButtonBorderSuccess;
	color:$colorButtonTextSuccess;
}

@mixin styleSuccessButtonHover {
	background-color:$colorButtonHoverSuccess;
	border-color:$colorButtonBorderSuccess;
	color:$colorButtonTextSuccess;
}

@mixin styleDangerButton {
	background-color:$colorButtonDanger;
		border-color:$colorButtonBorderDanger;
	color:$colorButtonTextDanger;
}

@mixin styleDangerButtonHover {
	background-color:$colorButtonHoverDanger;
	border-color:$colorButtonBorderDanger;
	color:$colorButtonTextDanger;
}

@mixin styleLinkButton {
	background-color:$colorButtonLink;
		border-color:$colorButtonBorderLink;
	color:$colorButtonTextLink;
}

@mixin styleLinkButtonHover {
	background-color:$colorButtonHoverLink;
	border-color:$colorButtonBorderLink;
	color:$colorButtonTextLink;
}

@mixin transitionAll{
	transition: all 0s linear 0.5s;
	-webkit-transition: all 0s linear 0.5s;
}