.component-language{

	ul{
		padding:0;
		margin:0;
		text-align:right;
		
		li{
			display:inline;
			list-style:none;
			margin-left:10px;
			
			a{
				color:$headerTextColor;
			}
			
			&.active{
				a{
					@include fontWeightBold;
					text-decoration: underline;
				}
			}
		}
	}

}