.fragment-card{	
    .thumbnail{
		text-align:center;
		display: flex;
		flex-direction: column;
		margin-bottom: ceil(($grid-gutter-width));

		.caption{
			padding:0 ceil(($grid-gutter-width));
		}

		h3{
			font-size: ceil(($font-size-base * 1.25));
			margin-bottom: 0;
		}

		p{
			margin-bottom:0;
		}

		&:hover,&:focus{
			text-decoration:none;
		}

		.price{
			font-size: ceil(($font-size-base * 1.5));
		}
	}
}    