script(id="alertTemplate",type="text/x-jsrender")
	div(class="alert alert-dismissible fade show {{:data.class}}", role="alert")
		strong.wbba {{:data.message}}
		button(type="button" class="close" data-dismiss="alert" aria-label="Close")
			span(aria-hidden="true") &times;