.container
	.row.flex-vcenter
		.col-md-6
			ul.list-inline.nomargin
				li © Copyright 2012 - 2018 
				li |
				li All Rights Reserved
				li |
				li Designed by <span class="text-primary">SunnieJS</span>

		.col-md-6
			ul.list-inline.nomargin.text-right
				li
					a(href="http://www.facebook.com",title="Ir a Facebook")
						i(class="fa fa-facebook-square icon-5x")
				li
					a(href="http://www.twitter.com",title="Ir a Twitter")
						i(class="fa fa-twitter icon-5x")
				li
					a(href="http://www.google-plus.com",title="Ir a Google Plus")
						i(class="fa fa-google-plus icon-5x")
				li
					a(href="http://www.instagram.com",title="Ir a Instagram")
						i(class="fa fa-instagram icon-5x")
				li
					a(href="http://www.youtube.com",title="Ir a Youtube")
						i(class="fa fa-youtube icon-5x")