include ../../fragments/include_fragments.pug

mixin fragment(fragmentType,content)

	- var classesFragment = 'fragment'

	div(class=classesFragment + ' ' + fragmentType)

		div(class="fragment-content")
			+#{fragmentType}(content)






