.d-none.d-xl-block
	+component({'name':'component-logo','content':{'url':'/${{ default.lang}}$/','title':'SunnisJS','src':fullSiteUrl+'/images/logo.png','alt':'SunnieJS Logo'},'showTitle':'false','full':'true'})

div(id="navigation")
		include navigation.pug

div(id="top-bar")
	+component({'name':'component-search','id':'id1','showTitle':'false'})

	+component({'name':'component-languageSelector','id':'id1','showTitle':'false', 'classes':'ml-3'})

	+component({'name':'component-siteSelector','id':'id1','showTitle':'false'})
