div(class="row header-content")
	div(class="col-md-9 col-xs-6")
		+component('component-logo','',{'url':'/home.html','title':'My Site','src':'./images/logo.png','alt':'Site Logo'},'','false','true')

	div(class="col-md-3 col-xs-6")
		+component('component-language','id1',{"displayStyle":"0", "languages":[{"name":"ES","url":"/ES","selected":"","lang":"es_ES"},{"name":"EN","url":"/EN","selected":"selected","lang":"en_US"},{"name":"DE","url":"/DE","selected":"","lang":"de_DE"}]},'','false','true')

