div(class="row header-content")
	div(class="col-md-9 col-xs-6")
		+component('component-logo','',{'url':'/home.html','title':'My Site','src':'/public/images/logo.png','alt':'Site Logo'},'','false','true')

	div(class="col-md-3 col-xs-6")
		+component('component-language','','','','false','true')

