include ../../layouts/layout-12-3-9-12.pug

include ../../layouts/layout-12-3-9.pug

include ../../layouts/layout-12-4-8-12.pug

include ../../layouts/layout-12-4-8.pug

include ../../layouts/layout-12-6-6-12.pug

include ../../layouts/layout-12-6-6.pug

include ../../layouts/layout-12-8-4-12.pug

include ../../layouts/layout-12-8-4.pug

include ../../layouts/layout-12-9-3-12.pug

include ../../layouts/layout-12-9-3.pug

include ../../layouts/layout-12.pug

include ../../layouts/layout-3-9.pug

include ../../layouts/layout-4-4-4-noHeader.pug

include ../../layouts/layout-4-8.pug

include ../../layouts/layout-6-6.pug

include ../../layouts/layout-8-4.pug

include ../../layouts/layout-9-3.pug

include ../../layouts/layout-9-3-fluid.pug

include ../../layouts/layout-9-3.pug

include ../../layouts/layout-12-fluid.pug

include ../../layouts/layout-2-10-fluid.pug
