doctype

- var siteURL = locals.site[0].url

html
	head
		link(href="#{siteURL}/css/main.min.css",rel="stylesheet")
		link(href="#{siteURL}/css/components.min.css",rel="stylesheet")
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon",href="favicon.ico")
		
		block head

	body

		include component

		div(id="wrapper")

			header(id="header")

				div(class="container")
					include header

				div(id="navigation")
					div(class="container")
						include navigation

			section(id="content")
				block content

			footer(id="footer")
				div(class="container")
					include footer

		script(src="#{siteURL}/javascript/main.min.js",type="text/javascript")
		script(src="#{siteURL}/javascript/components.min.js",type="text/javascript")