- var pages = locals.pages
- var siteURL = locals.site.url != '/' ? locals.site.url : ''
- var siteName = locals.site.name
- var enableChatBot = locals.site.enableChatBot
- var fullSiteUrl =  siteURL + "${{ "+siteName+".urlLang }}$"
- var api=locals.development ? "http://localhost:8083" : "http://localhost:8080"
- var apiLocal= locals.development ? "http://localhost:8083" : "http://localhost:8080"
- var apiDevelopment = "http://localhost:8082"