- var pages = locals.pages
- var siteURL = locals.site.url
- var siteName = locals.site.name
- var fullSiteUrl =  siteURL + "${{ "+siteName+".urlLang }}$"
- var api="http://smartretail-api.ttcloud.net:3000/api"