- var pages = locals.pages
- var siteURL = locals.site.url
- var siteName = locals.site.name
- var fullSiteUrl =  siteURL + "${{ "+siteName+".urlLang }}$"
- var api=locals.development ? "http://localhost:8081" : "http://localhost:8080"
- var apiLocal= locals.development ? "http://localhost:8081" : "http://localhost:8080"
- var apiDevelopment = "http://localhost:8082"