- var pages = locals.pages
- var siteURL = locals.site.url
- var siteName = locals.site.name
- var fullSiteUrl =  siteURL + "${{ "+siteName+".urlLang }}$"
- var api="http://localhost:3000"
- var apiLocal="http://localhost:3000"