mixin component-siteSelector(content)
	div(class="dropdown")
		button(id="siteSelector",type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",class="dropdown-toggle d-flex align-items-center")
			span.site-name #{siteName}
		ul(id="siteList",class="dropdown-menu m-0 dropdown-menu-right",aria-labelledby="siteSelector",data-load="true",data-service-data=apiDevelopment + "/site/list",data-method="GET",data-template="#templateSitesList",data-target="#siteList")


	script(id="templateSitesList",type="text/x-jsrender")
		| {{if data.length > 1 }}	
		| {{for data}}

		| {{if url && url != '/'}}
		li.dropdown-item
			a(href="{{:url}}/${{ default.lang }}$/") {{:name}}
		| {{else}}
		li.dropdown-item
			a(href="/${{ default.lang }}$/") {{:name}}
		| {{/if}}
		| {{/for}}
		| {{/if}}	