extends layouts/layout-12-8-4

block header
	title Mi titulo
	
block content-upper
	include components/component-sample

block content-left
	include components/component-sample

	include components/component-sample

	include components/component-sample	

block content-right
	div(class="component") My page6