extends layouts/layout-4-8

block header
	title Mi titulo

block content-left
	include components/component-sample

	include components/component-sample

	include components/component-sample	

block content-right
	h1 My page6