extends layouts/layout-12-8-4

block header
	title Mi titulo
	
block content-upper

	+component('component-sample-table','','Sample Component 2','true','true')

block content-left

	+component('component-sample','Hola Paco','Sample Component')

	+component('component-sample','Hola Pedro, mi nombre es sancho','Sample Component 2')

	+component('component-sample-form','','Sample Component 2')

	+component('component-sample-table','','Sample Component 2','true','true')


block content-right
	div(class="component") My page6