extends layouts/layout-12-8-4

block header
	title Mi titulo
	
block content-upper

	+component('component-breadcrumbs','id2',[{'pageName':'Pagina1','url':'/pagina1.html'},{'pageName':'Pagina2','url':'/pagina2.html'},{'pageName':'Pagina3','url':'/pagina3.html'}],'','false','true')


block content-left

	+component('component-sample-basics','id3','','Sample Component Basics')

	+component('component-sample-table','id4','','Tables','true','true')
	
	+component('component-sample-form','id5','','Forms')

	+component('component-sample','id6','Hola Paco','Sample Component')

	+component('component-sample','id7','Hola Pedro, mi nombre es sancho','Sample Component 2')


block content-right

	+component('component-image','id8',{'src':'/public/images/image1.jpg','alt':'description'},'','false','true')

	+component('component-banner','id8',{'src':'/public/images/image1.jpg','alt':'description','href':'./pagina1.html','title':'Ir a la pagina 1'},'','false','true')

	div(class="component") 
		h2 My page6