<!DOCTYPE html>
<html>
  <head>
    <link href="css/main.min.css" rel="stylesheet">
  </head>
</html>
<body>
  <div class="container-fluid">
    <div class="container">
      <nav role="navigation" class="navigation">
        <ul>
          <li><a href="#" title=""> <span class="sr-only">Ir a la pagina</span>Home</a></li>
          <li><a href="#" title=""> <span class="sr-only">Ir a la pagina</span>Home</a></li>
          <li><a href="#" title=""> <span class="sr-only">Ir a la pagina</span>Home</a></li>
          <li><a href="#" title=""> <span class="sr-only">Ir a la pagina</span>Home				</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <footer>
        <h2>footer</h2>
        <nav>
          <ul>
            <li><a></a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </div>
  <script src="js/main.min.js" type="text/javascript"></script>
</body>