extends ../templates/portal_noHeader

block head
	block header

block content
	div(id="layout-4-4-4-noHeader",class="layout",role="main")
		div(class="container-fluid")

			div(class="layout-row row")

				div(class="column col-md-4 col-12")
					block column0

				div(class="column col-md-4 col-12")
					block column1

				div(class="column col-md-4 col-12")
					block column2

