mixin component-search(content)
	button(type="button",class="btn btn-link flex-vcenter-sm",data-toggle="modal",data-target="#searchModal")
		i.material-icons.icon-5x &#xE8B6;
		span.sr-only Lanzar buscador 

	include templates/modal-search
