if locals.development == true
	include edit-view.pug

mixin component-html-content(content)
	
	- var contentType = 'content_' + content.contentType

	if content.idContent

		+#{contentType}(content.idContent)