script(id="templateLayoutColumnsListDevelopAssistantBot",type="text/x-jquery-tmpl")
	| {%if data.columns.length > 0 %}
	ul.mb-0
		| {%each data.columns%}
		li.list-group-item ${$value}
		| {%/each%}
	| {%/if%}