@import '../../theme/css/base/variables';
@import '../../theme/css/lib/bootstrap/variables';

.block-language{
	position: fixed;
    right: ceil(($btn-padding-horizontal / 2));
    top: 0;
    width: auto;	
}

.component-languageSelector{
	float:right;
	width:auto;

	.dropdown{
		display:inline-block;
		max-width: 100%;
		right:0;
		left:auto;

		button{
			background:0;
			border:0;
			height: $navbar-height;
			outline:0;
			max-width: 100%;
			padding-left:0;
			padding-right:0;
			color:$white;
			i{
				margin-right: ceil(($grid-gutter-width * 0.75));
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.component-languageSelector{

		.dropdown{

			button{
				height: $header-height;
			}
		}
	}
}