RewriteEngine On
RewriteRule ^$ /es [L]
RewriteRule ^/?$ es/index.html [NC,L]
RewriteRule ^login/?$ es/index.html [NC,L]
RewriteRule ^/default/es/(.*)$ /default/es/home.html[L]
RewriteRule ^/default/en/(.*)$ /default/en/home.html[L]
RewriteRule ^/default/es/get-started(.*)$ /default/es/get-started.html[L]
RewriteRule ^/default/en/get-started(.*)$ /default/en/get-started.html[L]
RewriteRule ^/default/es(.*)$ /default/es[L]
RewriteRule ^/default/en(.*)$ /default/en[L]
RewriteRule ^/default/es/html-elements/typography(.*)$ /default/es/typography.html[L]
RewriteRule ^/default/en/html-elements/typography(.*)$ /default/en/typography.html[L]
RewriteRule ^/default/es/html-elements/lists(.*)$ /default/es/lists.html[L]
RewriteRule ^/default/en/html-elements/lists(.*)$ /default/en/lists.html[L]
RewriteRule ^/default/es/html-elements/tables(.*)$ /default/es/tables.html[L]
RewriteRule ^/default/en/html-elements/tables(.*)$ /default/en/tables.html[L]
RewriteRule ^/default/es/html-elements/buttons(.*)$ /default/es/buttons.html[L]
RewriteRule ^/default/en/html-elements/buttons(.*)$ /default/en/buttons.html[L]
RewriteRule ^/default/es/html-elements/forms(.*)$ /default/es/forms.html[L]
RewriteRule ^/default/en/html-elements/forms(.*)$ /default/en/forms.html[L]
RewriteRule ^/default/es/html-elements/modals(.*)$ /default/es/modals.html[L]
RewriteRule ^/default/en/html-elements/modals(.*)$ /default/en/modals.html[L]
RewriteRule ^/default/es/generators(.*)$ /default/es/generators.html[L]
RewriteRule ^/default/en/generators(.*)$ /default/en/generators.html[L]
RewriteRule ^/default/es/data-definitions(.*)$ /default/es/data-definitions.html[L]
RewriteRule ^/default/en/data-definitions(.*)$ /default/en/data-definitions.html[L]
RewriteRule ^/default/es/themes(.*)$ /default/es/themes.html[L]
RewriteRule ^/default/en/themes(.*)$ /default/en/themes.html[L]
RewriteRule ^/default/es/components(.*)$ /default/es/components.html[L]
RewriteRule ^/default/en/components(.*)$ /default/en/components.html[L]
RewriteRule ^/default/es/layouts(.*)$ /default/es/layouts.html[L]
RewriteRule ^/default/en/layouts(.*)$ /default/en/layouts.html[L]
RewriteRule ^/default/es/sites(.*)$ /default/es/sites.html[L]
RewriteRule ^/default/en/sites(.*)$ /default/en/sites.html[L]
RewriteRule ^/default/es/tarificador/resultados(.*)$ /default/es/resultados-del-tarificador.html[L]
RewriteRule ^/default/en/tarificador/resultados(.*)$ /default/en/resultados-del-tarificador.html[L]
RewriteRule ^/gremio/es/(.*)$ /Gremio/es/home.html[L]
RewriteRule ^/gremio/en/(.*)$ /Gremio/en/home.html[L]
RewriteRule ^/gremio/es/sergio(.*)$ /Gremio/es/sergio.html[L]
RewriteRule ^/gremio/en/sergio(.*)$ /Gremio/en/sergio.html[L]
RewriteRule ^/gremio/es/fasdf(.*)$ /Gremio/es/fasdf.html[L]
RewriteRule ^/gremio/en/fasdf(.*)$ /Gremio/en/fasdf.html[L]
RewriteRule ^/gremio/es/fdgsdgf(.*)$ /Gremio/es/fdgsdgf.html[L]
RewriteRule ^/gremio/en/fdgsdgf(.*)$ /Gremio/en/fdgsdgf.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/estado-compra-coche(.*)$ /Tarificador/es/tarificador-estado-coche.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/estado-compra-coche(.*)$ /Tarificador/en/tarificador-estado-coche.html[L]
RewriteRule ^/tarificador/es/(.*)$ /Tarificador/es/home.html[L]
RewriteRule ^/tarificador/en/(.*)$ /Tarificador/en/home.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/fecha-nacimiento(.*)$ /Tarificador/es/tarificador-auto-fecha-nacimiento.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/fecha-nacimiento(.*)$ /Tarificador/en/tarificador-auto-fecha-nacimiento.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/hijos-menores(.*)$ /Tarificador/es/tarificador-auto-hijos-menores.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/hijos-menores(.*)$ /Tarificador/en/tarificador-auto-hijos-menores.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/fecha-carnet(.*)$ /Tarificador/es/tarificador-auto-fecha-carnet.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/fecha-carnet(.*)$ /Tarificador/en/tarificador-auto-fecha-carnet.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/pais-carnet(.*)$ /Tarificador/es/tarificador-auto-pais-carnet.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/pais-carnet(.*)$ /Tarificador/en/tarificador-auto-pais-carnet.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/codigo-postal(.*)$ /Tarificador/es/tarificador-auto-codigo-postal.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/codigo-postal(.*)$ /Tarificador/en/tarificador-auto-codigo-postal.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/consentimiento(.*)$ /Tarificador/es/tarificador-auto-consentimiento.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/consentimiento(.*)$ /Tarificador/en/tarificador-auto-consentimiento.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/titular-seguro(.*)$ /Tarificador/es/tarificador-auto-titular-seguro.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/titular-seguro(.*)$ /Tarificador/en/tarificador-auto-titular-seguro.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/nif-titular(.*)$ /Tarificador/es/tarificador-auto-nif-titular.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/nif-titular(.*)$ /Tarificador/en/tarificador-auto-nif-titular.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/partes(.*)$ /Tarificador/es/tarificador-auto-partes.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/partes(.*)$ /Tarificador/en/tarificador-auto-partes.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/tipos-partes(.*)$ /Tarificador/es/tarificador-auto-tipos-partes.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/tipos-partes(.*)$ /Tarificador/en/tarificador-auto-tipos-partes.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/multas(.*)$ /Tarificador/es/tarificador-auto-multas.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/multas(.*)$ /Tarificador/en/tarificador-auto-multas.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/genero-estado(.*)$ /Tarificador/es/tarificador-auto-genero-estado.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/genero-estado(.*)$ /Tarificador/en/tarificador-auto-genero-estado.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/ocupacion(.*)$ /Tarificador/es/tarificador-auto-ocupacion.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/ocupacion(.*)$ /Tarificador/en/tarificador-auto-ocupacion.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/tipo-uso(.*)$ /Tarificador/es/tarificador-auto-tipo-uso.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/tipo-uso(.*)$ /Tarificador/en/tarificador-auto-tipo-uso.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/km-diarios(.*)$ /Tarificador/es/tarificador-auto-km-diarios.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/km-diarios(.*)$ /Tarificador/en/tarificador-auto-km-diarios.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/aparcamiento(.*)$ /Tarificador/es/tarificador-auto-aparcamiento.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/aparcamiento(.*)$ /Tarificador/en/tarificador-auto-aparcamiento.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/propietario(.*)$ /Tarificador/es/tarificador-auto-propietario.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/propietario(.*)$ /Tarificador/en/tarificador-auto-propietario.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/ultima-compania(.*)$ /Tarificador/es/tarificador-auto-ultima-compania.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/ultima-compania(.*)$ /Tarificador/en/tarificador-auto-ultima-compania.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/datos-compania(.*)$ /Tarificador/es/tarificador-auto-datos-compania.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/datos-compania(.*)$ /Tarificador/en/tarificador-auto-datos-compania.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/vencimiento-seguro(.*)$ /Tarificador/es/tarificador-auto-vencimiento-seguro.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/vencimiento-seguro(.*)$ /Tarificador/en/tarificador-auto-vencimiento-seguro.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/version-coche(.*)$ /Tarificador/es/tarificador-auto-version-coche.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/version-coche(.*)$ /Tarificador/en/tarificador-auto-version-coche.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/potencia(.*)$ /Tarificador/es/tarificador-auto-potencia.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/potencia(.*)$ /Tarificador/en/tarificador-auto-potencia.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/puertas(.*)$ /Tarificador/es/tarificador-auto-puertas.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/puertas(.*)$ /Tarificador/en/tarificador-auto-puertas.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/tipo-combustible(.*)$ /Tarificador/es/tarificador-auto-tipo-combustible.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/tipo-combustible(.*)$ /Tarificador/en/tarificador-auto-tipo-combustible.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/fecha-matriculacion(.*)$ /Tarificador/es/tarificador-autos-fecha-matriculacion.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/fecha-matriculacion(.*)$ /Tarificador/en/tarificador-autos-fecha-matriculacion.html[L]
RewriteRule ^/tarificador/es/tarificador-autos(.*)$ /Tarificador/es/tarificador-autos.html[L]
RewriteRule ^/tarificador/en/tarificador-autos(.*)$ /Tarificador/en/tarificador-autos.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/modelo(.*)$ /Tarificador/es/tariificador-autos-modelo.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/modelo(.*)$ /Tarificador/en/tariificador-autos-modelo.html[L]
RewriteRule ^/tarificador/es/tarificador-autos2(.*)$ /Tarificador/es/tarificador-autos-2.html[L]
RewriteRule ^/tarificador/en/tarificador-autos2(.*)$ /Tarificador/en/tarificador-autos-2.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/resultados(.*)$ /Tarificador/es/resultados-del-tarificador-autos.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/resultados(.*)$ /Tarificador/en/resultados-del-tarificador-autos.html[L]
RewriteRule ^/tarificador/es/tarificador-autos/ofertas(.*)$ /Tarificador/es/tarificador-auto-ofertas.html[L]
RewriteRule ^/tarificador/en/tarificador-autos/ofertas(.*)$ /Tarificador/en/tarificador-auto-ofertas.html[L]
