mixin fragment-pagination(content)
	.row.d-sm-flex.align-items-sm-center
		.col-sm-3.text-left
			div Mostrando <span class="initInterval">1</span> - <span class="lastInterval">10</span> de <span class="totalResults">50</span>

		.col-sm-6.text-center
			.pagination
