include ../fragments/fragment-pagination.pug

include ../fragments/fragment-dropdownActions.pug

include ../fragments/fragment-card.pug

include ../fragments/fragment-image.pug

include ../fragments/fragment-banner.pug