extends ../templates/component

block vars
	- var componentName = 'component-sample-customize'
	- var showTitle = 'true'
	- var full = 'false'


block component-title
	| Sample Component Customize

block component-content
	p hola